<a href="https://colab.research.google.com/github/danilodcabotelho/DSWP_alunos/blob/main/C%C3%B3pia_de_Copy_of_NB10_01__Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><h1><b><i>PANDAS PARA DATA ANALYSIS</i></b></h1></center>



# **AGENDA**:

> Veja o **índice** dos itens que serão abordados neste capítulo.

___
# **REFERÊNCIAS**
* [Learn Aggregation and Data Wrangling with Python](https://data-flair.training/blogs/data-wrangling-with-python/)
* [Python Data Cleansing by Pandas & Numpy | Python Data Operations](https://data-flair.training/blogs/python-data-cleansing/)
* [Pandas from basic to advanced for Data Scientists](https://towardsdatascience.com/pandas-from-basic-to-advanced-for-data-scientists-aee4eed19cfe)
* [Feature engineering and ensembled models for the top 10 in Kaggle “Housing Prices Competition”](https://towardsdatascience.com/feature-engineering-and-ensembled-models-for-the-top-10-in-kaggle-housing-prices-competition-efb35828eef0)
* [Pandas.Series Methods for Machine Learning](https://towardsdatascience.com/pandas-series-methods-for-machine-learning-fd83709368ff)
* [Pandas.Series Methods for Machine Learning](https://towardsdatascience.com/pandas-series-methods-for-machine-learning-fd83709368ff)
* [Gaining a solid understanding of Pandas series](https://towardsdatascience.com/gaining-a-solid-understanding-of-pandas-series-893fb8f785aa)
* [ariáveis Dummy: o que é? Quando usar? E como usar?](https://medium.com/data-hackers/vari%C3%A1veis-dummy-o-que-%C3%A9-quando-usar-e-como-usar-78de66cfcca9)
* [Exploratory Data Analysis Made Easy Using Pandas Profiling](https://towardsdatascience.com/exploratory-data-analysis-made-easy-using-pandas-profiling-86e347ef5b65)
* [Data Handling using Pandas; Machine Learning in Real Life](https://towardsdatascience.com/data-handling-using-pandas-machine-learning-in-real-life-be76a697418c)
* [Exploratory Data Analysis Tutorial in Python](https://towardsdatascience.com/exploratory-data-analysis-tutorial-in-python-15602b417445)
* [Exploring the data using python](https://towardsdatascience.com/exploring-the-data-using-python-47c4bc7b8fa2)
* [A better EDA with Pandas-profiling](https://towardsdatascience.com/a-better-eda-with-pandas-profiling-e842a00e1136)
* [Exploratory Data Analysis: Haberman’s Cancer Survival Dataset](https://towardsdatascience.com/exploratory-data-analysis-habermans-cancer-survival-dataset-c511255d62cb)
* [Exploring Exploratory Data Analysis](https://towardsdatascience.com/exploring-exploratory-data-analysis-1aa72908a5df)
* [Getting started with Data Analysis with Python Pandas](https://towardsdatascience.com/getting-started-to-data-analysis-with-python-pandas-with-titanic-dataset-a195ab043c77)
* [A Gentle Introduction to Exploratory Data Analysis](https://towardsdatascience.com/a-gentle-introduction-to-exploratory-data-analysis-f11d843b8184)
* [Exploratory Data Analysis (EDA) techniques for Kaggle competition beginners](https://towardsdatascience.com/exploratory-data-analysis-eda-techniques-for-kaggle-competition-beginners-be4237c3c3a9)
* [What is Exploratory Data Analysis?](https://towardsdatascience.com/exploratory-data-analysis-8fc1cb20fd15)
* [Exploring real estate investment opportunity in Boston and Seattle](https://towardsdatascience.com/exploring-real-estate-investment-opportunity-in-boston-and-seattle-9d89d0c9bed2)

___
# **ANÁLISE DE DADOS COM PANDAS**
## Highlights

* Rápida e eficiente library para data manipulation;
* Ferramentas para ler e gravar todos os tipos de dados e formatos: CSV, txt, Microsoft Excel, SQL databases, JSON e HDF5 format;
* Pandas é a library mais popular para análise de dados. As principais ações que faremos com Pandas são:
    * Ler/gravar diferentes formatos de dados;
    * Selecionar subconjuntos de dados;
    * Cálculos variados por coluna ou por linha das tabelas;
    * Encontrar e tratar Missing Values;
    * Combinar múltiplos dataframes;

![Pandas](https://github.com/MathMachado/Materials/blob/master/Pandas.jpeg?raw=true)

![Pandas](https://github.com/MathMachado/Materials/blob/master/Pandas2.jpeg?raw=true)

___
# **ATÉ QUE VOLUME DE DADOS PODEMOS USAR PANDAS?**

![RightToolForEachSize](https://github.com/MathMachado/Materials/blob/master/SizesAndTools.PNG?raw=true)

## Sources
### Dask
* [Pandas, Dask or PySpark? What Should You Choose for Your Dataset?](https://medium.com/datadriveninvestor/pandas-dask-or-pyspark-what-should-you-choose-for-your-dataset-c0f67e1b1d36)
* [Processing Data with Dask](https://medium.com/when-i-work-data/processing-data-with-dask-47e4233cf165)
* [Pandas, Fast and Slow](https://medium.com/when-i-work-data/pandas-fast-and-slow-b6d8dde6862e)
* [Por que Parquet](https://medium.com/when-i-work-data/por-que-parquet-2a3ec42141c6)
* [How to Run Parallel Data Analysis in Python using Dask Dataframes](https://towardsdatascience.com/trying-out-dask-dataframes-in-python-for-fast-data-analysis-in-parallel-aa960c18a915)
* [Why every Data Scientist should use Dask?](https://towardsdatascience.com/why-every-data-scientist-should-use-dask-81b2b850e15b)

### Spark, Koalas
* [Databricks Koalas-Python Pandas for Spark](https://medium.com/future-vision/databricks-koalas-python-pandas-for-spark-ce20fc8a7d08)
* [Bye Pandas, Meet Koalas: Pandas APIs on Apache Spark (Ep. 4)](https://medium.com/@kyleake/bye-pandas-meet-koalas-pandas-apis-on-apache-spark-ep-4-aedcd363cf4e)
* [Koalas: Easy Transition from pandas to Apache Spark](https://databricks.com/blog/2019/04/24/koalas-easy-transition-from-pandas-to-apache-spark.html?source=post_page-----aedcd363cf4e----------------------)
* [Use PySpark for Your Next Big Problem](https://medium.com/swlh/use-pyspark-for-your-next-big-problem-8aa288d5ecfa)
* [A Neanderthal’s Guide to Apache Spark in Python](https://towardsdatascience.com/a-neanderthals-guide-to-apache-spark-in-python-9ef1f156d427)
* [The Jungle of Koalas, Pandas, Optimus and Spark](https://towardsdatascience.com/the-jungle-of-koalas-pandas-optimus-and-spark-dd486f873aa4)
* [From Pandas to PySpark with Koalas](https://towardsdatascience.com/from-pandas-to-pyspark-with-koalas-e40f293be7c8)

# O que Dask?

"Dask is designed to extend the numpy and pandas packages to work on data processing problems that are too large to be kept in memory. It breaks the larger processing job into many smaller tasks that are handled by numpy or pandas and then it reassembles the results into a coherent whole." - Eric Ness ([Processing Data with Dask](https://medium.com/when-i-work-data/processing-data-with-dask-47e4233cf165))

___
# **Carregar a library Pandas e verificar a versão**

In [ ]:
# Carrega a library Pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

print(f'Versão do Pandas: {pd.__version__}')
print(f'Versão do NumPy.: {np.__version__}')

In [ ]:
from platform import python_version
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline

In [ ]:
pd.__version__, np.__version__, python_version()

# Configurações
> Podemos configurar o pandas de forma a tornar nosso trabalho mais produtivo. Podemos configurar, por exemplo, o número de LINHAS e COLUNAS a ser mostrado, precisão dos números float. Vamos ver com mais detalhes a seguir.

Fonte: [5 Advanced Features of Pandas and How to Use Them](https://www.kdnuggets.com/2019/10/5-advanced-features-pandas.html).

In [ ]:
d_configuracao = {
    'display.max_columns': 1000,
    'display.expand_frame_repr': True,
    'display.max_rows': 10,
    'display.precision': 2,
    'display.show_dimensions': True
                  }

for op, value in d_configuracao.items():
    pd.set_option(op, value)
    print(op, value)

In [ ]:
# Veja acima o método set_options do PANDAS
pd.set_option()

___
# **Criar um dataframe a partir de outros objetos**

## Criar dataframe a partir de dicionários

### Exemplo 1

In [ ]:
d_frutas = {'Apple': [5, 6, 6, 8, 10, 3, 2],
          'Avocado': [6, 6, 3, 9, 3, 2, 1]}

In [ ]:
type(d_frutas), d_frutas.values()

In [ ]:
d_frutas

In [ ]:
# Criando um DataFrame sem definir índices
df_frutas = pd.DataFrame(d_frutas)
df_frutas

In [ ]:
# index=['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom'] abaixo define os label.

df_frutas = pd.DataFrame(d_frutas, index = ['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom'])
df_frutas

In [ ]:
# Criando um DATAFRAME no PANDAS definindo índices:
df_frutas = pd.DataFrame(d_frutas, index = ['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab','Dom'])
df_frutas

O que se comprou na sexta?

* Função df.loc[label] retorna o(s) valor(es) associados à label. Em nosso caso, os label (chaves do dicionário) são 'Seg', 'Ter', ..., 'Dom'.

In [ ]:
df_frutas.loc['Sex'] # Aqui, label= 'Sex'.

In [ ]:
# Retornando uma Series do DATAFRAME conforme o índice do registro passado ao loc
df_frutas.loc['Sex']

In [ ]:
s_frutas = df_frutas.loc['Sex']
s_frutas, type(s_frutas)

* Ou seja, o label = 'Sex', que ocupa a posição 4, tem os valores:
    * Apple..: 10
    * Avocado: 3

Da mesma forma, poderíamos utilizar a função df.iloc[index] para retornar o conteúdo/informações de index.

In [ ]:
df_frutas.iloc[4]

Portanto, df.loc['Sex'] = df.iloc[4]. Correto?

Para nos ajudar a memorizar, considere que:

* pd.loc[label] --> loc começa com a letra **l**, o que remete à label da linha.
* pd.iloc[indice] --> iloc começa com a letra **i**, o que remete ao índice (inteiro) da linha.

#### Qual é o output do code abaixo?

In [ ]:
# Dá erro pois o loc espera o nome do índice do registro, e não a posição ordinária
df_frutas.loc[4]

### Exemplo 2

Na prática, lidamos com grandes bancos de dados e, nesses casos, não temos label das LINHAS definidos. Para exemplificar, considere o mesmo exemplo que acabamos de ver, com uma pequena alteração:

In [ ]:
d_frutas

In [ ]:
df_frutas = pd.DataFrame(d_frutas) # Observe que aqui não definimos os indíces
df_frutas

Veja agora que os label são números inteiros de 0 a N.

#### Qual o conteúdo da linha cujo label é 4?

In [ ]:
df_frutas.loc[4]

#### Qual o conteúdo da linha cujo índice é 4?

In [ ]:
df_frutas.iloc[4]

Ou seja, nesses casos, tanto faz usar pd.loc[] ou pd.iloc[]. Entendeu?

### Exemplo 3 - Definir os indices do dataframe usando df.set_index()

In [ ]:
d_frutas= {'Dia_Semana': ['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom'],
           'Apple': [5, 6, 6, 8, 10, 3, 2],
          'Avocado': [6, 6, 3, 9, 3, 2, 1]}

d_frutas

In [ ]:
# Cria o dataframe df_frutas:
df_frutas = pd.DataFrame(d_frutas) # Não apontamos o índice do dataframe. Portanto, o índice é criado automaticamente de 0.. N.
df_frutas

#### Qual o conteúdo da linha 4?

In [ ]:
df_frutas.iloc[4]

In [ ]:
# Definir 'Dia_Semana' como índice (label das linhas) do dataframe df_frutas
df_frutas.set_index('Dia_Semana', inplace = True)
df_frutas

In [ ]:
df_frutas1 = (df_frutas.set_index('Dia_Semana')).copy()
df_frutas1

A expressão acima é equivalente a:

```
df_frutas2 = df_frutas.set_index('Dia_Semana') # Observe que aqui não há 'inplace'
df_frutas2
```

* Então, qual a função do 'inplace =True' na primeira opção?

In [ ]:
df_frutas2 = df_frutas.set_index()
df_frutas2

#### Qual o conteúdo da linha 4?

In [ ]:
df_frutas.iloc[4]

#### Qual o conteúdo da linha cujo label é 'Sex'?

In [ ]:
df_frutas.loc['Sex']

### Qual a diferença entre as duas próximas linhas?

In [ ]:
df_frutas

In [ ]:
df_frutas.mean()

In [ ]:
df_frutas.mean(1)

In [ ]:
df_frutas['Apple'].mean()

In [ ]:
df_frutas.describe()

In [ ]:
df_frutas.dtypes

### Exemplo 4

In [ ]:
d_estudantes = {'Nome': ['Jack', 'Richard', 'Tommy', 'Ana'], 
            'Age': [25, 34, 18, 21],
           'City': ['Sydney', 'Rio de Janeiro', 'Lisbon', 'New York'],
           'Country': ['Australia', 'Brazil', 'Portugal', 'United States']}

In [ ]:
# Mostrar o conteúdo do dicionário d_estudantes...
d_estudantes

In [ ]:
d_estudantes.keys()

In [ ]:
# Keys associadas ao dicionário d_estudantes
list(d_estudantes.keys())

In [ ]:
# Itens associados ao dicionário d_estudantes
d_estudantes.items()

In [ ]:
# Valores associados ao dicionário d_estudantes
d_estudantes.values()

Temos uma key = 'nome'. Qual o conteúdo desta key?

In [ ]:
d_estudantes['Nome']

In [ ]:
d_estudantes['Age']

In [ ]:
for i in d_estudantes['Age']:
  print(i)

Qual o output da expressão a seguir:

In [ ]:
d_estudantes['Nome'][0]

Criando o dataframe df_estudantes a partir do dicionário d_estudantes:

In [ ]:
df_estudantes = pd.DataFrame(d_estudantes)

In [ ]:
df_estudantes = pd.DataFrame(d_estudantes)

In [ ]:
# Mostra o conteúdo do dataframe df_estudantes...
df_estudantes

In [ ]:
df_estudantes1 = df_estudantes.copy()
df_estudantes1.set_index(['Age'], inplace = True)
df_estudantes1

**Atenção**: Observe que nesse caso, não definimos labels para as LINHAS. Na prática, isso é o mais comum, ou seja, os label = index, que aqui são números inteiros de 0 a N.

Mais uma vez, vamos usar df.loc[] e df.iloc[]...

In [ ]:
# Mostrando o conteúdo de da linha 3 usando df.loc[]
df_estudantes.loc[3]

In [ ]:

type(df_estudantes.loc[3])

OU

In [ ]:
# Mostrando o conteúdo de da linha 3 usando df.iloc[]
df_estudantes.iloc[3]

Ok, já discutimos isso anteriormente. Quando não temos labels para as LINHAS, então iloc[] = loc[]

___
## Criar dataframes a partir de listas
* Considere a lista de frutas a seguir:

In [ ]:
l_frutas = [('Melon', 6, 8, 5, 4 ,6, 2, 8), ('Avocado', 6, 6, 3, 8, 9, 3, 1), ('Blueberry', 7, 5, 9, 3, 1, 0, 4)]
l_frutas

In [ ]:
type(l_frutas)

In [ ]:
l_frutas[0]

In [ ]:
l_frutas[0][0]

In [ ]:
# Lista contendo os nomes das COLUNAS do dataframe:
l_colunas = ['Frutas', 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab']
l_colunas

In [ ]:
# Convertendo as listas em dataframe
df_frutas = pd.DataFrame(l_frutas) 
df_frutas

In [ ]:
df_frutas = pd.DataFrame(l_frutas, columns = l_colunas)# Observe que aqui, o nome das COLUNAS é uma lista.
df_frutas

___
# **Copiar dataframes**

O dataframe df_estudantes tem o seguinte conteúdo:

In [ ]:
df_estudantes

se fizermos...

In [ ]:
df_estudantes2 = df_estudantes

In [ ]:
# Veja que ao fazer a atribuição acima, os dois nomes apontam para a mesma variável (objeto dataframe)
# Ou seja, apontam ao mesmo objeto. Não gerou uma cópia.
id(df_estudantes), id(df_estudantes2)

então df_estudantes2 tem o mesmo conteúdo de df_estudantes, ok?

In [ ]:
df_estudantes2

In [ ]:
# Fazendo uma CÓPIA do dataframe
df_estudantes3 = df_estudantes.copy()

In [ ]:
# Vejam que utilizando o método copy(), é gerado um outro objeto
# Desta forma, uma cópia é gerada.
id(df_estudantes), id(df_estudantes3)

In [ ]:
df_estudantes2

Agora altere o valor 'Rio de Janeiro' para 'Sao Paulo' no dataframe df_estudantes2.

In [ ]:
# Para substituir o elemento Rio de janeiro por São Paulo no registro de linha 1, use o REPLACE()
df_estudantes2['City'] = df_estudantes2['City'].replace({'Rio de Janeiro': 'Sao Paulo'})
df_estudantes2

In [ ]:
df_estudantes2['City'] = df_estudantes2['City'].replace({'Rio de Janeiro': 'São Paulo'})
df_estudantes2

In [ ]:
# OU
alteracoes = {'Rio de Janeiro': 'Sao Paulo'}
df_estudantes2['city'] = df_estudantes2['city'].replace(alteracoes)
df_estudantes2

Ok, alteramos o valor 'Rio de Janeiro' por 'Sao Paulo', como queríamos. Vamos ver o conteúdo de df_estudantes (**que está intacto, pois fizemos a alteração no dataframe df_estudantes2**).

In [ ]:
df_estudantes

Ooooops... df_estudantes foi alterado? Como, se procedemos a alteração em df_estudantes2 e NÃO em df_estudantes???

* **As operações que fizermos em df_estudantes2 também serão aplicadas à df_estudantes**?

**Resposta**: SIM, pois df_estudantes2 é um ponteiro para df_estudantes. Ou seja, **qualquer operação que fizermos em df_estudantes2 será feita em df_estudantes**.

Uma forma fácil de ver isso é através dos endereços de memória dos dois (**supostos diferentes**) dataframes:

In [ ]:
id(df_estudantes2)

In [ ]:
id(df_estudantes)

**Conclusão**: df_estudantes2 é ponteiro para df_estudantes.

## Forma correta de fazer a cópia de um dataframe

Primeiramente, vamos reconstruir df_estudantes:

In [ ]:
df_estudantes = pd.DataFrame(d_estudantes)
df_estudantes

Fazendo a cópia do dataframe (**da forma correta**):

In [ ]:
df_estudantes_Copy = df_estudantes.copy()

Vamos verificar os endereços de memória dos dois dataframes:

In [ ]:
id(df_estudantes_Copy)

In [ ]:
id(df_estudantes)

Agora,  dataframe df_estudantes_Copy é uma cópia do dataframe df_estudantes

___
# **Renomear COLUNAS do dataframe**
> **Snippet**: 

    * df.rename(columns = {'Old_Name': 'New_Name'}, inplace = True)
    * OU df = df.rename(columns = {'Old_Name': 'New_Name'})

Suponha que quero renamear a COLUNA 'nome' para 'nome_cliente', que é um nome mais sugestivo.

In [ ]:
df_estudantes

In [ ]:
df_estudantes= df_estudantes.rename(columns = {'nome': 'nome_cliente'})

O comando abaixo produz o mesmo resultado que a linha anterior:

```
df_estudantes.rename(columns= {'nome': 'nome_cliente'}, inplace = True)
```

In [ ]:
# Mostrando o conteúdo de df_estudantes após renamearmos a coluna/variável 'nome' para 'Clien_Name'...
df_estudantes

Agora, suponha que queremos renamear 'age' para 'idade_cliente', 'city' para 'cidade_cliente' e 'country' para 'pais_cliente'...

In [ ]:
df_estudantes.rename(columns = {'age': 'idade_cliente', 'city': 'cidade_cliente', 'country': 'pais_cliente'}, inplace = True)

O comando abaixo produz o mesmo resultado que a linha anterior:

```
df_estudante = df_estudantes.rename(columns= {'Age': 'idade_cliente', 'City': 'cidade_cliente', 'Country': 'pais_cliente'}, inplace = True)
```

In [ ]:
# Mostrando o conteúdo de df_estudantes após a múltipla operação de renamear...
df_estudantes

Alguma dúvida até aqui?
Tudo bem até aqui?

## Challenge
* Aplicar lowercase() em todas as COLUNAS do dataframe df_estudantes. Como fazer isso?

### Minha solução:

In [ ]:
df_estudantes2 = df_estudantes.copy()

In [ ]:
l_colunas = 0
l_colunas

In [ ]:
df_estudantes2.columns

In [ ]:
l_columns = []
l_columns = df_estudantes2.columns
l_columns

In [ ]:
# Colocar o nome das COLUNAS numa lista:
l_colunas = df_estudantes2.columns
type(l_colunas)

In [ ]:
lista_colunas = list(df_estudantes2.columns)
lista_colunas, type(lista_colunas)

In [ ]:
type(l_colunas) ==  type(lista_colunas)

In [ ]:
df_estudantes2.columns = [x.lower() for x in df_estudantes.columns]
df_estudantes2

In [ ]:
# UPPERCASE todas as COLUNAS
df_estudantes2.columns = [col.upper() for col in l_colunas]
df_estudantes2

In [ ]:
df_estudantes3.columns = ['A', 'B', 'C', 'D']
df_estudantes3

In [ ]:
# Mostrando o conteúdo do dataframe df_estudantes
df_estudantes2

___
# **Adicionar/Acrescentar novas LINHAS ao dataframe**

## Usando dicionários
* É necessário informar {'Column_Name': value} para cada inserção. Por exemplo, vou adicionar o seguinte registro ao dataframe:
    * nome_cliente= 'Anderson';
    * idade_cliente= 22;
    * cidade_cliente= 'Porto';
    * pais_cliente= 'Portugal'

In [ ]:
df_estudantes

In [ ]:
# se usar direto o append, ele gera um outro objeto e não altera o df_estudantes. tem que atribuir
df_estudantes = df_estudantes.append({'Nome':'Danilo', 'Age':49, 'City': 'Maringá', 'Country':'Brazil'}, ignore_index = True)
df_estudantes

In [ ]:
df_estudantes_Copia= df_estudantes.copy()
df_estudantes.append({'nome_cliente': 'Anderson', 
               'idade_cliente': 22,
               'cidade_cliente': 'Porto',
               'pais_cliente': 'Portugal'}, ignore_index = True)

Esse é o resultado que desejamos?
Saberia explicar-nos o que houve de errado?

**DICA**: Lembre-se que no passo anterior, reescrevemos os nomes das COLUNAS usando o método lower().

In [ ]:
# Definindo df_estudantes novamente usando a cópia df_estudantes_Copia
df_estudantes = df_estudantes_Copia.copy()
df_estudantes

Ok, restabelecemos a cópia de df_estudantes. Agora vamos à forma correta:

In [ ]:
df_estudantes = df_estudantes.append({'nome_cliente': 'Anderson', 
               'idade_cliente': 22,
               'cidade_cliente': 'Porto',
               'pais_cliente': 'Portugal'}, ignore_index= True)

Bom, esse é o resultado que estávamos à espera...

## Usando Series
* Como exemplo, considere que queremos adicionar os seguintes dados:
    * nome_cliente= 'Bill';
    * idade_cliente= 30;
    * cidade_cliente= 'São Paulo';
    * pais_cliente= 'Brazil'

In [ ]:
df_estudantes2.columns

In [ ]:
novo_estudante = pd.Series(['Bill', 30, 'Sao Paulo', 'Brazil'], index = df_estudantes2.columns)
novo_estudante, type(novo_estudante)

In [ ]:
# Aqui temos os dados de mais um estudante. Estão numa lista.
# Preparamos uma Series no Pandas, atribuindo para os índices da Series os nomes das colunas do DataFrame ao qual queremos depois incluir
# este novo estudante. vejamos:c

novo_estudante = pd.Series(['Bill', 30, 'Sao Paulo', 'Brazil'], index= df_estudantes2.columns) # Olha que interessante: estamos a usar index= df_estudantes.columns.

Vamos ver o conteúdo de novo_estudante:

In [ ]:
novo_estudante

Por fim, adiciona/acrescenta novo_estudante ao dataframe df_estudantes...

In [ ]:
df_estudantes2 = df_estudantes2.append(novo_estudante, ignore_index = True)
df_estudantes2

In [ ]:
df_estudantes2 = df_estudantes2.append(novo_estudante, ignore_index= True)
df_estudantes2

___
# **Adicionar/acrescentar novas COLUNAS ao Dataframe**

## Usando Lists
* Suponha que queremos adicionar a coluna/variável 'Score'

In [ ]:
df_estudantes2

In [ ]:
df_estudantes2['score'] = [500,300,200,800,700]
df_estudantes2

In [ ]:
# Acrescentando ou criando a coluna/variável 'score' ao dataframe usando um objeto list
df_estudantes2['score'] = [500, 300, 200, 800, 700]

In [ ]:
df_estudantes2[]

In [ ]:
# Mostra o conteúdo do dataframe df_estudantes...
df_estudantes2

> **Atenção**:

* Se a quantidade de valores da lista forem menores que o número de LINHAS do dataframe, então o Python apresenta um erro.
* Se a coluna/variável que queremos inserir já existe no dataframe, então os valores serão atualizados com os novos.

## Usando um valor default
* Adicionar a coluna 'total' com o mesmo valor para todas as LINHAS

In [ ]:
df_estudantes['total'] = 500
df_estudantes

In [ ]:
len(df_estudantes.index), np.arange(0,(len(df_estudantes.index)),1)

In [ ]:
df_estudantes4 = df_estudantes.copy()
df_estudantes4['Tipo'] = list(np.arange(0, len(df_estudantes4), 1))
df_estudantes4

## Adicionar uma COLUNA calculada a partir de outras COLUNAS

In [ ]:
df_estudantes

In [ ]:
df_estudantes2

In [ ]:
df_estudantes2['percentagem']=100*(df_estudantes2['score']/sum(df_estudantes2['score']))
df_estudantes2

In [ ]:
df_estudantes2['percentagem'] = 100*(df_estudantes2['score']/sum(df_estudantes2['score']))
df_estudantes2

___
# **Ler/carregar dados no Python**
* Vários formatos de arquivos podem ser lidos:

|Format Type | Data Description | Reader | Writer |
|---|---|---|---|
text | CSV | read_csv | to_csv |
text | JSON | read_json | to_json |
text | HTML | read_html | to_html |
text | Local clipboard | read_clipboard | to_clipboard |
binary | MS Excel | read_excel | to_excel |
binary | HDF5 Format | read_hdf | to_hdf |
binary | Stata | read_stata | to_stata |
binary | SAS | read_sas 
binary | Python Pickle Format | read_pickle | to_pickle |
SQL | SQL | read_sql | to_sql |
SQL | Google Big Query | read_gbq | to_gbq |

* Fonte: [IO tools (text, CSV, HDF5, …)](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

___
# **Ler/Carregar csv**

In [ ]:
# carregar a library Pandas
import pandas as pd

A seguir, vamos:
* Ler o dataframe Titanic.csv;
* Definir 'PassengerId' como índice/chave da tabela através do comando index_col= 'PassengerId'.

In [ ]:
# Vamos buscar o DATASET Titanic.csv lá no GitHub meu, forcado do MATHMACHADO.
# BUSCANDO O ENDEREÇO DO LINK LÁ NO GITHUB DSWP Danilo forcado do mathmachado.
url = 'https://raw.githubusercontent.com/danilodcabotelho/DSWP/master/Dataframes/Titanic_With_MV.csv' 
df_Titanic = pd.read_csv(url, index_col = 'PassengerId')
df_Titanic.head()

In [ ]:
url = 'https://raw.githubusercontent.com/MathMachado/DataFrames/master/Titanic_With_MV.csv?token=AGDJQ67OZ36XJUJPE77Z7LC7RBCAU'
df_Titanic = pd.read_csv(url, index_col = 'PassengerId')
df_Titanic.head()

In [ ]:
df_Titanic.iloc[4] # NÃO É A MESMA COISA QUE df_Titanic.loc[4]!!!

* Segue o dicionário de dados do dataframe df_Titanic:
    * PassengerID: ID do passageiro;
    * survived: Indicador, sendo 1= Passageiro sobreviveu e 0= Passageiro morreu;
    * Pclass: Classe;
    * Age: Idade do Passageiro;
    * SibSp: Número de parentes a bordo (esposa, irmãos, pais e etc);
    * Parch: Número de pais/crianças a bordo;
    * Fare: Valor pago pelo Passageiro;
    * Cabin: Cabine do Passageiro;
    * Embarked: A porta pelo qual o Passageiro embarcou.
    * Name: Nome do Passageiro;
    * sex: sexo do Passageiro.

In [ ]:
# Show o dataframe df_Titanic:
df_Titanic.head()

### DICA 1
Suponha que o dataframe que queremos ler esteja localizado em:

```
/home/nsolucoes4ds/Dropbox/Data_Science/Python/Python_RFB/Python_RFB-DS_Python_020919_2244/Dataframes
```

Desta forma, para ler o dataframe (local), basta usar o comando a seguir:

```
url = '/home/nsolucoes4ds/Dropbox/Data_Science/Python/Python_RFB/Python_RFB-DS_Python_020919_2244/Dataframes/creditcard.csv'
df_Titanic = pd.read_csv(url)
```

### Dica 2
No Windows, o diretório aparece, por exemplo, da seguinte forma: 
```
C:\nsolucoes4ds\Data_Science
```
Observe as '\\' (**barras invertidas**). Neste caso, use o comando a seguir:

```
url= r'C:\nsolucoes4ds\Data_Science\creditcard.csv'
df_Titanic = pd.read_csv(url)
```

Percebeu o r'diretorio'?

___
# **Corrigir (ou uniformizar) nome das COLUNAS**
* Por exemplo, reescrever o nome das COLUNAS usando lowercase().

Para facilitar nossas análises, vamos aplicar o método lower() em todos os valores das COLUNAS objects/strings. Para isso, considere a função abaixo:

In [ ]:
df_Titanic.head()

In [ ]:
# Primeira transformação: Aplicar lower() nos nomes das COLUNAS:
def transformacao_lower(df):
  df.columns = [col.lower() for col in df.columns]

transformacao_lower(df_Titanic)
df_Titanic

In [ ]:

# Aqui o método select_dtypes(include ou exclude).columns, vai gerar um índex com as colunas em que os dados forem strings
# pois o que está no include é object. Se fosse number, ele iria selecionar as colunas que tem nas linhas dados numericos.
l_cols_objeto = df_Titanic.select_dtypes(include = ['number']).columns
l_cols_objeto

In [ ]:
# Vejamos agora com incluide = ['objetc']
l_cols_objeto = df_Titanic.select_dtypes(include = ['object']).columns
l_cols_objeto

In [ ]:
# Segunda transformação: Aplicar o método .str.lower() nos valores das COLUNAS object/strings:
# este método pega as colunas que foram selecionadas, no caso, as colunas cujos elementos nas suas linhas(ou seja os valores)
# eram string, e, então, transforma tudo em minúsculo.
for col in l_cols_objeto:
  df_Titanic[col] = df_Titanic[col].str.lower()

df_Titanic

In [ ]:
# FUNÇÃO PARA TORNAR TODO O DATAFRAME COM INFORMAÇÕES STRING EM LETRAS MINÚSCULAS.
def transformacao_lower(df):
    # Primeira transformação: Aplicar lower() nos nomes das COLUNAS:
    df.columns = [col.lower() for col in df.columns]

    # Segunda transformação: Aplicar o método .str.lower() nos valores das COLUNAS object/strings:
    l_cols_objeto = df.select_dtypes(include = ['object']).columns
    
    for col in l_cols_objeto:
        df[col] = df[col].str.lower()

Para saber mais sobre o método df[col].str.lower(), consulte [pandas.Series.str.lower](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.lower.html).

In [ ]:
transformacao_lower(df_Titanic)
df_Titanic.head()

# **Selecionar um subconjunto de colunas**
Suponha que eu queira selecionar somente as colunas 'Name' e 'Sex'.

In [ ]:
df_Titanic.head()

In [ ]:
df_Titanic2 = df_Titanic[['name', 'sex']]
df_Titanic2.head()

In [ ]:
df_Titanic2 = df_Titanic[['Name', 'Sex']]
df_Titanic2.head()

# map()
> Artificio para lidar com a transformação de dados utilizando um dicionário: {'key': valor}.

In [ ]:
# Fazendoa instrução abaixo. Criando uma nova coluna
# para ter os dados de sobrevivents ou mortos, mas, com o método map passando um dicionário.
# Assim o map() vai alterar na coluna escolhida o que for 0 por died, E O QUE FOR 1 por survived

df_Titanic['survived']

In [ ]:
# Usando o map, passando um dicionário, ele vai substituir em todas as linhas da coluna escolhida o que for indicado.
df_Titanic['survived2'] = df_Titanic['survived'].map({0:'died', 1:'survived'})
df_Titanic[['survived','survived2']]

In [ ]:

df_Titanic

In [ ]:
# Já Fiz acima, destacando as operações o que está nesta célula:
# Construindo uma variável mais intuitiva para nos ajudar nas análises:
df_Titanic['survived2'] = df_Titanic['survived']
df_Titanic['survived2'] = df_Titanic['survived2'].map({0:'died', 1:'survived'})
df_Titanic[['survived', 'survived2']].head(3)

___
# **Selecionar COLUNAS do dataframe**
* Suponha que queremos selecionar somente as COLUNAS 'survived', 'sex' e 'embarked':

In [ ]:
df_Titanic2 = df_Titanic[['survived', 'sex', 'embarked']]
df_Titanic2.head()

___
# **Criar um dicionário a partir de um dataframe**
> Suponha o dataframe-exemplo a seguir:

In [ ]:
df = pd.DataFrame({'a': ['red', 'yellow', 'blue'], 'b': [0.5, 0.25, 0.125]})
df

De dataframe para Dicionário...

In [ ]:
dict = df.to_dict('dict')
dict, df

In [ ]:
df.to_dict('dict')

___
# **Criar uma lista a partir de um dataframe**
> Suponha o dataframe-exemplo a seguir:

In [ ]:
df = pd.DataFrame({'a': ['red', 'yellow', 'blue'], 'b': [0.5, 0.25, 0.125]})
df

De dataframe para Lista...

In [ ]:
# Esta função não transforma um dicinário numa lista, como 
# esta informado neste topico

df.to_dict('list')

___
# **Mostrar as primeiras k LINHAS do dataframe**
> df.head(k), onde k é o número de LINHAS que queremos visualizar. Por default, k= 10.

In [ ]:
df_Titanic.head()

___
# **Mostrar as últimas k LINHAS do dataframe**
> df.tail(k), onde k é o número de LINHAS que queremos ver. Por default, k= 10.

In [ ]:
df_Titanic.tail()

In [ ]:
df_Titanic.tail()

Por default, df.tail() mostra as últimas 5 LINHAS/instâncias do dataframe. Entretando, pode ser ver qualquer número de LINHAS k, como, por exemplo, k= 10 mostrado abaixo.

In [ ]:
df_Titanic.tail(10)

___
# **Mostrar o nome das COLUNAS do dataframe**
* df.columns

In [ ]:
df_Titanic.columns

___
# **Mostrar os tipos das COLUNAS do dataframe**
* Propriedade: df.dtypes --> Não há parênteses!

In [ ]:
df_Titanic.dtypes # dtypes é uma propriedade, portanto não requer "()". Os métodos, por outro lado, requerem "(arg1, arg2, ..., argN)"

___
# **Selecionar automaticamente as COLUNAS do dataframe pelo tipo**
> snippet: df.select_dtypes(include=[tipo]).columns

| Tipo | O que seleciona | Sintaxe |
|------|-----------------|---------|
| number | colunas do tipo numéricas | df.select_dtypes(include=['number]).columns |
| float | colunas do tipo float | df.select_dtypes(include=['float']).columns |
| bool | colunas do tipo booleanas | df.select_dtypes(include=['bool']).columns |
| object | colunas do tipo categóricas/strings | df.select_dtypes(include=['object']).columns |

* Se quisermos selecionar mais de um tipo, basta informar a lista de tipos. 
    * Exemplo: df.select_dtypes(include=['object', 'float']).columns

## Selecionar automaticamente as COLUNAS Numéricas do dataframe

### Lista com as COLUNAS numéricas do dataframe:

In [ ]:
l_cols_numericas = df_Titanic.select_dtypes(include = ['number']).columns # ".columns" retorna a lista de colunas numéricas
l_cols_numericas

### DataFrame com as COLUNAS numéricas:

In [ ]:
df_numericas = df_Titanic.select_dtypes(include = ['number']) # Atenção: aqui não temos .columns --> Neste caso, o retorno será o dataframe.
df_numericas.head()

## Selecionar automaticamente as COLUNAS float do dataframe

### Lista com as COLUNAS float:

In [ ]:
l_cols_float = df_Titanic.select_dtypes(include = ['float']).columns
l_cols_float

### DataFrame com as COLUNAS float:

In [ ]:
df_float = df_Titanic.select_dtypes(include = ['float']) # Atenção: aqui não temos .columns
df_float.head()

## Selecionar automaticamente as COLUNAS Booleanas do dataframe

### Lista com as COLUNAS Booleanas:

In [ ]:
l_cols_booleanas = df_Titanic.select_dtypes(include = ['bool']).columns
l_cols_booleanas

### DataFrame com as COLUNAS Booleanas:

In [ ]:
df_booleanas = df_Titanic.select_dtypes(include=['bool']) # Atenção: aqui não temos .columns
df_booleanas.head()

## Selecionar automaticamente as COLUNAS do tipo string (object)

### Lista com as COLUNAS do tipo object/string:

In [ ]:
l_cols_objeto = df_Titanic.select_dtypes(include=['object']).columns
l_cols_objeto

### DataFrame com as COLUNAS do tipo Object/String:

In [ ]:
df_cols_obs = df_Titanic.select_dtypes(include=['object']) # Atenção: aqui não temos .columns
df_cols_obs.head()

___
# **Reordenar as COLUNAS do dataframe**

In [ ]:
df_Titanic.head()

* Suponha que queremos reordenar as COLUNAS do dataframe df_Titanic em ordem alfabética, conforme abaixo:
    * age;
    * embarked;
    * fare;
    * parch;
    * pclass;
    * sex;
    * sibsp;
    * survived.

In [ ]:
# Dataframe ordenado. 
# Eu entendi que o axis 1 é o eixo das colunas.
# Também o sorted aqui é para colocar em ordem alfabética os index das colunas, e então o reindex vai pegar esta ordem
# e aplicar para reordenar as colunas.
df_Titanic = df_Titanic.reindex(sorted(df_Titanic.columns), axis = 1)
df_Titanic.head()

In [ ]:
# Para ORDENAR colunas da forma que quiser, basta passar a lista com a ordem que quer, pelo nome das colunas:
df_Ordenado = df_Titanic[['Cabin', 'Age', 'Embarked', 'Fare','Name','Parch','Pclass','SibSp','Survived','Ticket','Sex']]
df_Ordenado.head()

In [ ]:
df_Titanic.head()

___
# **Mostrar a dimensão do dataframe**
* Dimensão = Número de LINHAS e COLUNAS

In [ ]:
df_Titanic.shape

Qual a interpretação?

## **Quebrar a dimensão em duas partes: número de LINHAS e COLUNAS**
* Número de linhas do dataframe.: df_Titanic.shape[0]
* Número de colunas do dataframe: df_Titanic.shape[1]

In [ ]:
f'O dataframe df_Titanic possui {df_Titanic.shape[0]} linhas e {df_Titanic.shape[1]} colunas.'

*texto em itálico* *texto em itálico*  ___
# **Combinar dataframes: Merge, Join & Concatenate**
* Fonte: [Merge, join, and concatenate](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)

* A seguir, três formas para combinar dataframes:

## Concatenate
* Une/empilha dataframes
* Fonte: https://github.com/aakankshaws/Pandas-exercises

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']})
df1

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']})
df2

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']})
df3

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
# CONCATENAR os DATAFRAMES, sem passar o axis, ou seja, axis padrão = 0.
df= pd.concat([df1, df2, df3])
df

In [ ]:
df = pd.concat([df1,df2,df3], axis = 0)
df

Veja que basicamente empilhamos os dataframes. No entanto, se fizermos...

In [ ]:
# CONCATENANDO usando o AXIS = 1, vamos concatenar por colunas, lado a lado.
df = pd.concat([df1, df2, df3], axis = 1) # axis = 1 é uma operação de coluna
df

In [ ]:
df = pd.concat([df1, df2, df3], axis = 1)
df

Se, no entanto, tivermos:

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

Então...

In [ ]:
df = pd.concat([df1, df2, df3], axis = 1).fillna(0)
df

In [ ]:
# Para tirar os NaN, posso colocar o 0 por exemplo, ou uma média, ou uma mediana.
df = pd.concat([df1,df2,df3], axis = 0)
df

Porque isso acontece?

## Merge
> Primeiramente, vamos ver todos os casos possíveis de joins.

### Exemplo
> O exemplo a seguir foi inspirado no exemplo apresentado em [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins). Considere os dataframes a seguir

In [ ]:
import pandas as pd

d_Tabela_A = {'indices': [1,2,3,6,7,5,4,10], 'valores': ['A','B','C','D','E','F','G','H']}
d_Tabela_B = {'indices': [1,2,3,6,7,8,9,11], 'valores': ['AA', 'BB','CC','DD','EE','FF','GG','HH']}

In [ ]:
df_conjunto_A = pd.DataFrame(d_Tabela_A).set_index('indices')
df_conjunto_B = pd.DataFrame(d_Tabela_B).set_index('indices')
df_conjunto_A, type(df_conjunto_A)

In [ ]:
df_conjunto_B

![SQL_inner_join](https://github.com/MathMachado/Materials/blob/master/SQL_inner_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

In [ ]:
df_conjunto_A

In [ ]:
df_conjunto_B

In [ ]:
# MERGE(), vai fazer COMBINAR os dois dataframes. 
# A referência para combinação será o ON = aqui passa-se onde será a ancora de comparação para o merge.
# no caso, a ancora foi os índices. No INNER, ele vai pegar os índices que tem em ambos, e trazer os dados de ambos 
# INNER fará a INTERSECÇÃO (O que está em ambos os conjuntos) pelo índice (quais índices são iguais em ambos, este trará:)
# Veja que somente os indices 1,2,3,4,6,7 são comuns a ambos os dataframes. Então estas linhas ele vai trazer, e colocar as colunas lado a lado.
# No HOW passamos o critério que queremos a combinação. São os critérios: how : {'left', 'right', 'outer', 'inner'}, default 'inner)
df_inner_join = pd.merge(df_conjunto_A, df_conjunto_B, on = 'indices', how = 'inner', suffixes=('_Coluna1','_Coluna2'))
df_inner_join

![SQL_left_join](https://github.com/MathMachado/Materials/blob/master/SQL_left_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

In [ ]:
df_conjunto_A

In [ ]:
df_conjunto_B

In [ ]:
df_left_join = pd.merge(df_conjunto_A, df_conjunto_B, on = 'indices', how = 'left')
df_left_join

![SQL_right_join](https://github.com/MathMachado/Materials/blob/master/SQL_right_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

In [ ]:
df_conjunto_A

In [ ]:
df_conjunto_B

In [ ]:
df_right_join = pd.merge(df_conjunto_A, df_conjunto_B, on = 'indices', how = 'right')
df_right_join

In [ ]:
df_right_join = pd.merge(df_conjunto_A, df_conjunto_B, on = 'indices', how = 'right')
df_right_join

![SQL_outer_join](https://github.com/MathMachado/Materials/blob/master/SQL_outer_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

In [ ]:
df_conjunto_A

In [ ]:
df_conjunto_B

In [ ]:
# OUTER é o critério que traz o conjunto união. Ele traz os índices de A e também de B.
# O indicator = True, cria uma coluna que indica de onde vieram os dados daquela linha, se de ambos os df ou do left ou do right.
# Se não quiser ver esta linha é só tirar o parãmetro  indicator.
df_outer_join = pd.merge(df_conjunto_A, df_conjunto_B, on = 'indices', how = 'outer', indicator = True)
df_outer_join

![SQL_left_excluding_join](https://github.com/MathMachado/Materials/blob/master/SQL_left_excluding_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

In [ ]:
df_conjunto_A

In [ ]:
df_conjunto_B

In [ ]:
# left_only -> traz o exclusivo, ou seja, o critério que está em A exclusivamente.
df_left_excluding_join = pd.merge(df_conjunto_A, df_conjunto_B, on = 'indices', how ="outer", indicator=True)
df_left_excluding_join

In [ ]:
df_left_excluding_join = pd.merge(df_conjunto_A, df_conjunto_B, on = 'indices', how ="outer", indicator=True).query('_merge == "left_only"')
df_left_excluding_join

![SQL_right_excluding_join](https://github.com/MathMachado/Materials/blob/master/SQL_right_excluding_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

In [ ]:
df_conjunto_A

In [ ]:
df_conjunto_B

In [ ]:
df_right_excluding_join = pd.merge(df_conjunto_A, df_conjunto_B, on = 'indices', how ="outer", indicator=True)
df_right_excluding_join

In [ ]:
# Com o QUERY eu pego só os índices (QUE FOI O CRITÉRIO ESTABELECIDO), do df direito, e trago os dados deste.
# Neste caso, os dados do dataframe da esquerda vem como NaN.
df_right_excluding_join = pd.merge(df_conjunto_A, df_conjunto_B, on ='indices', how ='outer', indicator = True).query('_merge == "right_only"')
df_right_excluding_join

![SQL_outer_excluding_join](https://github.com/MathMachado/Materials/blob/master/SQL_outer_excluding_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

In [ ]:
# Eu fazendo aqui! O Notebook não trouxe este exemplo:
# Vou fazer a União (outer), dois dois dataframes, e depois vou fazer outro dataframe com o INNER (INTERSECÇÃO)
# Depois vou fazer o df da união MENOS o df da intersecção. Vamos ver se dá certo!
df_outer_join.query('_merge !="both"')

### Desafio: Como resolver este?

### Observações:

* Em alguns casos a variável chave nos dois dataframes que se quer fazer o join possui nomes diferentes. Neste caso, use 'left_on' e 'right_on' para definir o nome das COLUNAS chaves no dataframe da esquerda e direita:
    * pd.merge(df1, df2, left_on ="employee", right_on ="nome")
        * No exemplo acima, o dataframe df1 (dataframe da esquerda) possui chave 'employee' enquanto que o dataframe df2 (dataframe da direita), possui chave 'nome'. Usando as 'left_on' e 'right_on' fica claro o nome das chaves de ligação de cada dataframe.

In [ ]:
# Criando um exemplo para o tema acima: Não tem aqui no Notebook original.
df1

In [ ]:
df2['INDICES'] = ['x1','x2','x3','x4']
df2

In [ ]:
df2.set_index('INDICES', inplace=True)

In [ ]:
df2

In [ ]:
df1

In [ ]:
df1['i'] = ['x1','x2','x3','x4']
df1.set_index("i", inplace=True)
df1

In [ ]:
df1

In [ ]:
df2.set_index()

In [ ]:
df1

In [ ]:
df2

In [ ]:
# VEJA que os dataframes df1 e df2 tem nomes de índices distintos.
#Então vamos fazer um MERGE 'join',  dos dois, passando como elemento chave o índice.
# mas como os nomes dos índices são distintos, não vamos passar o ON=, MAS vamos passar o left_on e o right_on
df3 = pd.merge(df1,df2,left_on='i', right_on="INDICES", how= 'outer', indicator=True)

## Joining

In [ ]:
df_esquerdo = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

df_direito = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

![SQL_left_join](https://github.com/MathMachado/Materials/blob/master/SQL_left_join.png?raw=true)

In [ ]:
df_esquerdo

In [ ]:
df_direito

In [ ]:
# O JOIN aqui privilegiou os índices (critério) do df esquerdo.
# Ou seja Trouxe tudo que está no esquerdo, e o que está no direito se o índice for igual ao do que está no esquerdo.
COMO O LEFT JOIN

df_esquerdo.join(df_direito)

FIGURA DO JOIN com o parãmetro OUTER: É a UNIÃO.
![SQL_outer_join](https://github.com/MathMachado/Materials/blob/master/SQL_outer_join.png?raw=true)

In [ ]:
# Aqui passou-se o parãmetro how OUTER, que traz a união de ambos
df_esquerdo.join(df_direito, how ='outer')

In [ ]:
df_esquerdo

In [ ]:
df_direito

In [ ]:
# AQUI A INTERSECÇÃO.
df_esquerdo.join(df_direito, how = 'inner')

In [ ]:
# AQUI A INTERSECÇÃO
df_esquerdo.join(df_direito, how = 'inner')

___
# **Selecionar LINHAS do dataframe baseado nos índices**
### Leitura Adicional
* [pandas loc vs. iloc vs. ix vs. at vs. iat?
](https://stackoverflow.com/questions/28757389/pandas-loc-vs-iloc-vs-ix-vs-at-vs-iat/47098873#47098873)
* [Indexing and selecting data](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)

## 1st Approach - pd.loc[]
* Para capturar o conteúdo da linha k, use df.loc[row_indexer,column_indexer].

In [ ]:
df_Titanic.head()


Por exemlo, o comando a seguir mostra o conteúdo da linha 0, todas as COLUNAS(:)

In [ ]:
# Veja que dentro do loc, a primeira parte onde está o 1, é onde eu coloco as linhas que eu quero (label desta linha)
# ou do conjunto de linhas como se verá adiante. Depois da virgula, vem as colunas.
df2= df_Titanic.loc[1,:]
df2.head()

In [ ]:
df2 = df_Titanic.loc[1,:]
type(df2)

Mostrando o conteúdo das LINHAS k= 1:2 (ou seja, LINHAS 1 e 2), todas as COLUNAS(:)

In [ ]:
df2 = df_Titanic.loc[1:2, :]
df2

In [ ]:
df2 = df_Titanic.loc[1:2,:]
df2

Mostrar os conteúdos da linha k= 1, coluna 'pclass':

In [ ]:
df_Titanic.loc[1, ['Pclass']]

In [ ]:
df_Titanic.loc[1:2, ['Fare', 'Name', 'Sex']]

Mostrar os conteúdos da linha k= 1 e COLUNAS ['pclass', 'sex']:

In [ ]:
df_Titanic.loc[0, ['Pclass', 'Sex']]

Porque temos um erro aqui?

Resposta Minha: Temos um erro, pois a função loc busca o label do índice, e não a ordem do índice natural da linha, que seria a linha com índice (0). Veja que o label para a primeira linha foi batizado por 1. O iloc SIM buscaria o 0.

Versão correta abaixo:

In [ ]:
df_Titanic.loc[1, ['pclass', 'sex']]

Mostrar os conteúdos da linha k= 1:5 e COLUNAS ['pclass', 'sex']:

In [ ]:
df_Titanic.loc[1:5, ['Pclass', 'Sex']]

Agora suponha que queremos selecionar toda a 'sex'. Como fazer isso?

In [ ]:
df_sex= df_Titanic.loc[:, 'Sex']
df_sex.head()

Fácil selecionarmos o que queremos usando .loc() e iloc(), certo?

## 2nd Approach - Usando lists

In [ ]:
df_Titanic[0:2] # Mostrar os conteúdos das LINHAS 0:2

In [ ]:
df_Titanic[:3] # Mostrar os conteúdos até a linha 3

In [ ]:
df_Titanic['Sex'].head() # Mostrar o conteúdo inteiro da variável 'sex'

In [ ]:
df_Titanic[0:5]['Sex'].head() # Mostrar as LINHAS 0 a 5 da variável 'sex'

In [ ]:
# Podia fazer assim:
df_Titanic.loc[1:5, 'Sex']

___
# **Selecionar/Filtrar/Substituir LINHAS do dataframe baseado em condições**

## Exemplo 1
> Aproveitando o exemplo anterior, queremos selecionar do dataframe somente os passageiros do sexo 'male'.

### Approach 1: df.loc() e df.iloc()

In [ ]:
df_sexo_m_1 = df_Titanic.loc[df_Titanic['Sex'] == 'male', 'Sex']
df_sexo_m_1.head()

In [ ]:
df_sexo_m_1 = df_Titanic.loc[df_Titanic['Sex'] == 'male', ['Sex', 'Age']]
df_sexo_m_1.head()

### Approach 2: Uso do []

In [ ]:
df_sexo_m_2 = df_Titanic[df_Titanic['Sex'] == 'male'][['Name','Sex', 'Age']]
df_sexo_m_2.head()

### Approach 3: df.isin()

#### Exemplo 1 - Filtro simples

In [ ]:
df_Titanic[['Sex', 'Age']].head()

In [ ]:
df_sexo_m_3 = df_Titanic['Sex'].isin(['male'])
df_sexo_m_3.head()

#### Exemplo 2 - Filtro duplo = Duas condições
> Selecionar todas as LINHAS onde sexo = 'male' e Pclass = 1.

In [ ]:
filtro_m = df_Titanic['Sex'].isin(['male'])

In [ ]:
type(filtro_m)

In [ ]:
filtro_class1 = df_Titanic['Pclass'].isin([1])
type(filtro_class1)

In [ ]:
df_Titanic[filtro_m & filtro_class1].head()

In [ ]:
len(df_Titanic[filtro_m & filtro_class1])

In [ ]:
# Filtros usando df.isin() 
filtro_m = df_Titanic["sex"].isin(["male"]) 
filtro_class1 = df_Titanic["Pclass"].isin([1]) 
  
# Mostra os resutados  
df_Titanic[filtro_m & filtro_class1].head()

In [ ]:
df_sexo_m_class = df_Titanic[((df_Titanic['Sex'] == 'male') & (df_Titanic['Pclass'] == 1))]
df_sexo_m_class.head()

In [ ]:
#AQUI EU FIZ UM FILTRO DUPLO DE OUTRA FORMA 
#O ISIN vai gerar um Series ou um DataFrame booleano
# O FILTRO aponta coluna a coluna, comparando os parâmetros passados.
# 
# No caso para Sex, ele compara o MALE, e para AGE ele compara a idade 22.0
df_sexo_m_3 = df_Titanic[['Sex','Age']].isin(['male', 22.0])
df_sexo_m_3.head()

### Approach 4 - Filtrar com df.str.contains('s_substr')

In [ ]:
# MÉTODO STR.CONTAINS()
# Mostrar todas as LINHAS onde a string 'Mr' aparece no nome do passageiro:
df2 = df_Titanic[df_Titanic['Name'].str.contains('Mr')]
df2.head()

In [ ]:
df2 = df_Titanic[df_Titanic['Name'].str.contains('Mr')]['Name']
df2.head()

In [ ]:
df2 = df_Titanic[df_Titanic['Name'].str.contains('Mr')][['Name', 'Age']]
df2

Para saber mais sobre o método df[col].str.contais(), consulte https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html.

## Substituir valores do dataframe
> Suponha que queremos substituir todos os valores de pclass da seguinte forma:
* Se pclass = 1 --> pclass2 = 'Classe1';
* Se pclass = 2 --> pclass2 = 'Classe2';
* Se pclass = 3 --> pclass2 = 'Classe3';

Como fazer isso?

In [ ]:
df_Titanic.head()

In [ ]:
df_Titanic['Pclass2'] = df_Titanic['Pclass']

In [ ]:
df_Titanic

In [ ]:
df_Titanic['Pclass2'][df_Titanic['Pclass'] == 1] = 'Classe1'
df_Titanic['Pclass2'][df_Titanic['Pclass'] == 2] = 'Classe2'
df_Titanic['Pclass2'][df_Titanic['Pclass'] == 3] = 'Classe3'
df_Titanic.head()

In [ ]:
df_Titanic['pclass2'] = df_Titanic['pclass']
df_Titanic['pclass2'][df_Titanic['pclass'] == 1] = 'Classe1'
df_Titanic['pclass2'][df_Titanic['pclass'] == 2] = 'Classe2'
df_Titanic['pclass2'][df_Titanic['pclass'] == 3] = 'Classe3'
df_Titanic['pclass2'].head()

___
# **Selecionar amostras aleatórias do dataframe**

Vimos que o dataframe df_Titanic é muito grande. Então, vamos selecionar aleatoriamente 100 LINHAS.

In [ ]:
# VAMOS IMPORTAR O RANDDOM E O TIME, para calcular tempos de execução do código
import random  
import random
# Biblioteca para avaliarmos o tempo de processamento de cada alternativa
import time

In [ ]:
# cria um delay de 3 segundos na execução:
print('Iniciou a execução')
time.sleep(3)
print('Terminou a execução')

In [ ]:
t0 = time.time()
t0, type(t0)

In [ ]:
# Usando sample
# DataFrame.sample(n=None, frac=None, replace=False, weights=None, random_state=None, axis=None)
# n-> número de linhas randômicas a obter; Se não usar o n, pode usar o frac; replace parece ser para não trazer repetições de linhas iguais
#  random_state é usado como se fosse uma semente para gerar amostras iguais sempre que rodar. Nâo é obrigatório mas é bom para
# quando tem várias pessoas fazendo a fim de conferir o resultado da amostra.
t0= time.time()
df_Titanic_a100 = df_Titanic.sample( 100 , replace= False, random_state= 20111974)
t1= time.time()
t= t1-t0
df_Titanic_a100.head()

In [ ]:
df_Titanic_a100 = df_Titanic.sample(100, replace = False, random_state=20111974)
df_Titanic_a100.head()

In [ ]:
len(df_Titanic_a100)

In [ ]:
f'Tempo de processamento: {t}'

In [ ]:
# Usando NumPy
import numpy as np

t0 = time.time()
np.random.seed(20111974)
indices = np.random.choice(df_Titanic.shape[0], replace = False, size=100)
df_Titanic_a100_2 = df_Titanic.iloc[indices]
t1 = time.time()
t = t1-t0
df_Titanic_a100_2.head()

In [ ]:
df_Titanic.shape

In [ ]:
indices_amostra = np.random.choice(['1','2','3','4','5','6','7'], replace = False, size=2)
indices_amostra

In [ ]:
indices_amostra = np.random.choice(df_Titanic.shape[0], replace =False, size=100)
df_Titanic_a100_2 = df_Titanic.iloc[indices_amostra]
df_Titanic_a100_2.head()

In [ ]:
# Parece que gerando a amostra com 100 linhas pelo numpy.choice() é duas vezes mais rápido,
# que quando usado o método sample() do Pandas.
f'Tempo de processamento: {t}'

In [ ]:
df_Titanic_a100_2.shape

___
# **Descrever o Dataframe**

In [ ]:
df_Titanic_a100.describe()

In [ ]:
df_Titanic_a100_2.describe()

___
# **Identificar e lidar com LINHAS duplicadas**

## Exemplo 1
* considera as duplicatas em todas as COLUNAS do dataframe.

In [ ]:
df = pd.DataFrame({'A':[1,1,3,4,5,1], 'B':[1,1,3,7,8,1], 'C':[3,1,1,6,7,1]})
df

In [ ]:
# método DUPLICATED() do pandas, traz um Series booleano
a = df.duplicated()
a, type(a)

In [ ]:
# Lista as duplicações em forma booleana
df.duplicated()

Observe a linha 5, onde temos a informação que esta linha está duplicada. Na verdade, a linha 5 é igual à linha 1

In [ ]:
# Mostra as LINHAS duplicadas
df[df.duplicated()]

In [ ]:
# Deleta a linha 5 que, como vimos, estava duplicada (uma cópia da linha 1).
# MÉTODO DROP_DUPLICATES()

df= df.drop_duplicates()
df

## Exemplo 2
* Considera somente algumas COLUNAS

In [ ]:
df = pd.DataFrame({'A':[1,1,3,4,5,1], 'B':[1,1,3,7,8,1], 'C':[3,1,1,6,7,1]})
df

In [ ]:
df[df.duplicated(subset = ['A', 'B'])]

In [ ]:
# Mostra as LINHAS duplicadas usando as COLUNAS 'A' e 'B'
df[df.duplicated(subset=['A','B'])]

In [ ]:
# Deleta as LINHAS 1 e 5, pois como podemos ver, são duplicatas da linha 0
df = df.drop_duplicates(subset= ['A', 'B'])
df= df.drop_duplicates(subset = ['A', 'B'])
df

# ****


---


# **Trabalhar com dados do tipo texto**
* Fontes:
    * [Working with text data](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html)
    * [Using String Methods](https://www.ritchieng.com/pandas-string-methods/).

Preparando os dados para o exemplo:

In [ ]:
# Definir um dicionário com os dados: 
import numpy as np
import pandas as pd


l_idade = []
for i in range(6):
    np.random.seed(i)    
    l_idade.append(np.random.randint(10, 40))
    

d_exemplo = {'Nome':['Mr. Antonio dos Santos', 'Mr. Joao Pedro', 'Miss. Priscila Alvarenga', 'Mr. fagner NoVAES', 'Miss. Danielle Aparecida', 'Mr. Paullo Amarantes'], 
        'Idade': l_idade, 
        'Cidade':['lisboa', 'Sintra', 'Braga', 'Guimaraes', 'Mafra', 'Nazare']} 
   
# Converte o dicionário num dataframe
df = pd.DataFrame(d_exemplo) 
df

* Sugestões do que podemos fazer com relação á coluna 'nome' do dataframe df:
    * Extrair o cumprimento do nome: Mr., Miss e etc.
    * Construir as COLUNAS PrimeiroNome e SegundoNome.
    * Criar a variável classe_idade.

## Extrair o cumprimento do nome

In [ ]:
# str.split vai separar a string, peloc ritério passado " ", conforme o n passado n=1 vai separar em 2 partes
# n = 2 vai separar em 3 partes, e assim por diante.
# Sem o expand, ele gera uma Series. Com o expand, retorna um dataframe.
df_Nome = df['Nome'].str.split(" ", n=1)
df_Nome, type(df_Nome)

In [ ]:
df['Nome'].str.split(' ', n=1, expand = True)

In [ ]:
# colocando n = 3, vai separar a string em 4 strings, desde que tenham termos suficients
# quando falta termos para o n=3, como ocorre nas linhas 1 e seguintse, completa com "None".
#Quando não tem mais parte do nome em nenhuma linha, não adiante colocar n's MAIORES, como n=5, n=6 no exemplo abaixo.
# sempre vai trazer o máximo de 4 colunas. Veja:
df_Nome= df['Nome'].str.split(' ', n = 5, expand = True) 
df_Nome

Altere o valor de n para 3 e explique como as coisas funcionam...

In [ ]:
# Capiturando o comprimento do nome:
# Para isso podemos trazer o número de colunas criadas pelo método str.split, quando o n for superior ao número de termos
# do nome que tenha mais termos do conjunto. No caso acima, a linha 0 é que tem o nome com mais termos. 

df_Nome.columns.size

In [ ]:
# Capturando o primeiro elemento do nome, e incluindo-o numa nova coluna:
df['termo_primeiro'] = df['Nome'].str.split(' ', n = 2, expand = True)[0]
df['termo_primeiro']

In [ ]:
df

## Construir as COLUNAS primeiro_nome e Segundo_Nome

In [ ]:
# Capturando o primeiro nome:
df['primeiro_nome'] = df['Nome'].str.split(' ', n = 2, expand = True)[1]
df['ultimo_nome'] = df['Nome'].str.split(' ', n = 2, expand = True)[2]
df

In [ ]:
df['primeiro_nome'] = df['Nome'].str.split(' ', n=2, expand = True)[1]
df['primeiro_nome']

In [ ]:
df['resto_do_nome'] = df['Nome'].str.split(' ',n=2,expand=True)[2]
df['resto_do_nome']

In [ ]:
# Excluindo a coluna 'resto_do_nome'
df = df.drop(columns = ['resto_do_nome'], axis = 1)
df

### Construir a variável classe_idade

 | Limite Inferior | Limite Superior | Classe |
    |-----------------|-----------------|--------|
    | Inf | 15 | Inf_15 |
    | 15 | 20 | 15_20 |
    | 20 | 30 | 25_30 |
    | 30 | 40 | 30_40 |
    | 40 | 50 | 40_50 |
    | 50 | Sup | 50_Sup |

In [ ]:
df[['Nome','Idade']].head()

In [ ]:
# Construindo uma função para criar uma nova coluna,classificando as idades que são
# passadas para a função via parametro.
def classificacao_idade():
  if (Idade <= 15):
    return 'Inf_15'
  elif (15 < Idade <= 20):
    return '15-20'
  elif (20 < Idade <= 30):
    return '20-30'
  elif (30 < Idade <= 40):
    return '30-40'
  elif (40 < Idade <= 50):
    return '40-50'
  elif (Idade > 50):
    return '50_Sup'
  else:
    return 'Outros'

In [ ]:
df['classificacao_idade'] = df['Idade'].map(classificacao_idade)

In [ ]:
# Eu fiz esta "corrigindo" a do Notebook  que está logo acima.
def classificacao_idade(Age):
    if (Age <= 15):
        return 'Inf_15'
    if (15 < Age <= 20):
        return '15_20'
    elif(20 < Age <= 30):
        return '20_30'
    elif (30 < Age <= 40):
        return '30_40'
    elif (40 < Age <= 50):
        return '40_50'
    elif (Age > 50):
        return '50_Sup'
    else: # Nem precisaria, mas acaso venha algum dado diferente, ele joga em 'Outros'. O retorno podia ser pass, mas aí não retornaria nada
    # se viesse algum dado diferente.
        return 'Outros'

In [ ]:
df['Classificacao_Etaria'] = df['Idade'].map(classificacao_idade)
df

___
# **Agrupar Informações: pd.groupby()**
* Fonte: [Group By: split-apply-combine](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html)

* Os componentes do comando Groupby()
    * **Grouping_Column** - Coluna Categórica pelo qual os dados serão agrupados;
    * **Aggregating_Column** - Coluna numérica cujos valores serão agrupados;
    * **Aggregating_Function** - Função agregadora, ou seja: sum, min, max, mean, median, etc...

> Sintaxe: 

```
df.groupby('Grouping_Column').agg({'Aggregating_Column': 'Aggregating_Function'})

OU

df['Aggregating_Column'].groupby(df['Grouping_Column']).Function()
```

## Exemplo 1

In [ ]:
df_Titanic.head()

In [ ]:
transformacao_lower(df_Titanic)
df_Titanic.head()

In [ ]:
# Agrupando df_Titanic por 'sex3'
df_Titanic.groupby(['sex', 'pclass']).agg({'fare': ['min', 'median', 'mean','max'], 'age': ['count', 'mean','max']})

In [ ]:
df_Titanic.groupby(['sex', 'pclass']).agg({'fare': ['min', 'median', 'mean','max'], 'age': ['count', 'mean', 'max']})

In [ ]:
# Agrupando df_Titanic por 'sex' e 'Pclass'
df_Titanic.groupby(['sex','pclass']).agg({'fare': ['max', 'min']}).round(0)

In [ ]:
# o round(0) ao final vai arredondar os valores.
# Se usar round(2), por exemplo, vai arredondar a terceira casa decimal.
df_teste = df_Titanic.groupby(['sex', 'pclass']).agg({'age': ['median', 'mean','min','max']}).round(2)
df_teste

In [ ]:
# Meus testes: Veja que criou um MultiIndex.
# Dá pra pegar o MultiIndex e transformar em lista, cujos elementos da lista serão tuplas
df_teste.columns, type(df_teste.columns), list(df_teste.columns)

In [ ]:
lista = list(df_teste.columns)
lista, type(lista)

In [ ]:
lista[0]

In [ ]:
df_Titanic.head()

## Exemplo 2

### Preparando o exemplo

In [ ]:
for i in range(1,6):
  print(i)

In [ ]:
# Cada vez que rodar o comando abaixo do numpy, vai trazer um array diferente, veja:
np.random.randint(0,10,10) # Gera um array randômico, com (valor mínimo 0, valor máximo 9, dez elementos)

In [ ]:
np.random.randint(0,10,10)

In [ ]:
# Então dá pra fixar uma semente no numpy.random, para que sempre traga os mesmos valores, veja:
# fixa a semente (escolhi o número 33, mas podia ser qualquer número). Para cada vez
# que for executar, tem que fixar a semente. Se num for, a semente tem que ser aplicada a cada iteração.
np.random.seed(33)
np.random.randint(0,10,10)

In [ ]:
# fixo novamente a mesma semente, e rodo o random.randint
# Veja que o resultado foi idêntico do array gerado pelo método np.random.randint()
np.random.seed(33)
np.random.randint(0,10,10)

In [ ]:
# Vejamos abaixo então a aplicação destses métodos, com a semente, a cada iteração for:

In [ ]:
# Criando uma lista vazia, que vai receber os arrays do numpy como elementos da lista.
l_coluna = []

# Vamos criar 5 arrays, cada um com uma semente diferente (parâmetro da semente pelo for, e assim gerará arrays distintos (muito provavelmente))
# Então inclui na lista de arrays, cada um dos arrays criados np.random.randint(0,10,10)
for i in range(1,6):
    np.random.seed(i) 
    l_coluna.append(np.random.randint(0, 10, 10))

# Vamos criar mais um array, agora não de números inteiros, mas de randômicos (-1 a 1), em quantidade de 10
# pelom método np.random.rand(10), fixada a semente 6 apenas para comparar os exercícios. 
np.random.seed(6)
l_coluna.append(np.random.rand(10))

# Vejamos como ficou a lista l_coluna
l_coluna

In [ ]:
l_coluna[0]

### Vamos criar um DataFrame com Pandas, utilizando a lista de arrays como valores para as colunas que serão criadas. Também acrescentando outras colunas com seus valores via dicionário.

In [ ]:
df = pd.DataFrame({'coluna6' : ['a', 'a', 'b', 'b', 'a', 'b', 'b', 'b', 'a', 'a'],
                'coluna7' : ['um', 'dois', 'um', 'dois', 'um', 'dois', 'dois', 'um', 'um', 'dois'],
                'coluna1' : l_coluna[0],
                'coluna2' : l_coluna[1],
                'coluna3' : l_coluna[2],
                'coluna4' : l_coluna[3],
                'coluna5' : l_coluna[4],
                'coluna8' : l_coluna[5],
                'Pessoas' : ['Jose','Maria','Pedro','Carlos','Joao','Ana','Manoel','Mafalda','Antonio','Ricardo'],
                'sexo'    : ['m','f','m','m','m','f','m','f','m','m']})
df

In [ ]:
# Fiz de novo para treinar:
import pandas as pd
import numpy as np

df = pd.DataFrame({'coluna6':['a', 'a', 'b', 'b', 'a', 'b', 'b', 'b', 'a', 'a'],
                   'coluna7':['um', 'dois', 'um', 'dois', 'um', 'dois', 'dois', 'um', 'um', 'dois'],
                   'coluna1':l_coluna[0],
                   'coluna2':l_coluna[1],
                   'coluna3':l_coluna[2],
                   'coluna4':l_coluna[3],
                   'coluna5':l_coluna[4],
                   'pessoas':['Jose','Maria','Pedro','Carlos','Joao','Ana','Manoel','Mafalda','Antonio','Ricardo'],
                   'sexo':   ['m','f','m','m','m','f','m','f','m','m']})
df

Agrupando por 'coluna6':

In [ ]:
df.groupby('coluna6').agg({'coluna1': ['min','mean','median','max']})

In [ ]:
df.groupby('coluna6').agg({'coluna1':['min', 'max', 'mean', 'median']})

Agora, vamos repetir o processo usando duas COLUNAS-chaves 'coluna6' e 'coluna7':

In [ ]:
df_estatisticas_descritivas = df.groupby(['coluna6','coluna7']).agg({'coluna1': ['min','mean','median','max']})
df_estatisticas_descritivas

In [ ]:
# Veja que a agregação com groupby e agg, cria multiIndex para as rows e também para as columns
df_estatisticas_descritivas.index

In [ ]:
df_estatisticas_descritivas.columns

Observe que df_estatisticas_descritivas é um dataframe. Portanto, podemos selecionar LINHAS e/ou COLUNAS deste dataframe da forma que quisermos.

In [ ]:
# Índices do dataframe:
df_estatisticas_descritivas.index

In [ ]:
# Selecionando o conteúdo de coluna6= 'a' e coluna7= 'um':
df_estatisticas_descritivas.loc[('a', 'um')]

In [ ]:
df_teste = df_estatisticas_descritivas.loc[('a','dois')]
df_teste, type(df_teste), df_teste[0], df_teste[1], df_teste.shape

In [ ]:
# Selecionando o conteúdo de coluna6= 'a' e coluna7= 'um', primeiro valor:
df_estatisticas_descritivas.loc[('a', 'dois')][0] # ou seja, selecionamos min

In [ ]:
# Selecionando o conteúdo de coluna6= 'a' e coluna7= 'um', segundo valor:
df_estatisticas_descritivas.loc[('a', 'um')][1] # ou seja, selecionamos mean

In [ ]:
# Arredondando o resultado do mesmo comando acima, no segundo dígito(arredonda o terceiro dígito após a vírgula)
df_estatisticas_descritivas.loc[('a', 'um')][1].round(2)

In [ ]:
import time
print('Comece a contar os segundos')
time.sleep(10)
print('contou ?')

E daí por diante...

# **PAREI AQUI 11/10**
Para aprender mais sobre como trabalhar com dois índices em um dataframe, consulte [Hierarchical indices, groupby and pandas](https://www.datacamp.com/community/tutorials/pandas-multi-index).

___
## Exemplo 3
### Operações e transformações em grupo

In [ ]:
# Mostra o dataframe-exemplo:
df

In [ ]:
# Agrupando pela coluna6, e pedindo a média.
# Veja que ele traz somente as colunas que possuem valores numéricos. As colunas categóricas não são trazidas
df.groupby('coluna6').mean()

In [ ]:
# Adicionando um préfixo aos nomes das colunas que trouxeram o agregado.
# aqui não usamos o método AGG, então ele não traz um multiIndex indicando que é a média.
df.groupby('coluna6').mean().add_prefix('média_')

In [ ]:
# Adicionando um sufixo SUFFIX aos nomes das colunas. Da mesma forma acima.
df.groupby('coluna6').mean().add_suffix('_Média')

In [ ]:
# Se usasse o Groupby e o agg,ele cria um MultiIndex com o nome do método de agregação aplicado. No caso o mean:
# Mas também posso colocar os prefixos concomitantemente, veja
df.groupby('coluna6').agg(['mean','median']).add_prefix('Agregação_')

In [ ]:
# Constroi dataframe df_Medias
df_Medias = df.groupby('coluna6').mean().add_prefix('mean_')
df_Medias

In [ ]:
df.head()

In [ ]:
df_Medias

In [ ]:
# Combina (merge) com o dataframe df:
# o right_index True manda usar o índice do dataframe da direita como critério de junção
# veja que este critério tem nos dois dataframe, já o índice do dataframe da esquerda os índices são 0,1,2,3 e não
# são elementos disponíveis como critério de junção coerente, pois nem mesmo tem no dataframe da direita.
a = pd.merge(df, df_Medias, left_on ='coluna6', right_index=True)
a

In [ ]:
# Combina (merge) com o dataframe df:
# o right_index True manda usar o índice do dataframe da direita como critério de junção
# veja que este critério tem nos dois dataframe, já o índice do dataframe da esquerda os índices são 0,1,2,3 e não
# são elementos disponíveis como critério de junção coerente, pois nem mesmo tem no dataframe da direita.
a = pd.merge(df, df_Medias, left_on ='coluna6', right_index=True)
b = pd.merge(df, df_Medias, on='coluna6', right_index=True)
a == b

___
# **Discretizar COLUNAS numéricas**
* pd.cut() - classes com base em valores;
* pd.qcut() - classes com base em quantis da amostra, ou seja teremos a mesma quantidade de itens em cada classe.

> Este artifício é muito utilizado em Machine Learning quando queremos construir classes para variáveis numéricas (integer ou float). Acompanhe a seguir:

In [ ]:
df

## pd.cut()

In [ ]:
# Construir 4 classes para a variável float 'coluna8':
Bucket_cut = pd.cut(df['coluna1'], 4) # aqui, estamos construindo 4 buckets
Bucket_cut, type(Bucket_cut)

In [ ]:
# Vou incluir nova coluna, com o bucket que se enquadra cada um dos registros
Veja que o pd.cut() cria buckets conforme o número passado (no caso 4 buckets). Pega o intervalo ( Maior valor = 9, menor valor = 0)
# pegou o 9-0 = 9 e dividiu por 4: 2,25. Então criou os bucktes(0 a 2.25; 2.25 a 4.5; 4.5 a 6.75; 6.75 a 9.0)
df['Bucket_cut'] = pd.cut(df['coluna1'],4)
df

In [ ]:
# Quem são os Bucket's que construimos:
# Bucket_cut que criamos é um Series
# Pedimos para contar value_counts(), desta série, conta quantas vezes o elemento da série aparece.
Bucket_cut.value_counts()

In [ ]:
# Bucket_cut é um Series. Ao pedir o .size, traz a quantidade de elementos da série. No caso 10
# Veja que 10 é a soma que destacada está quando pedimos para contar quantos elemento de cada tipo em Bucket_cut existe value_counts()
Bucket_cut.size

Como podem ver, de fato construimos 4 bucket's. **Observe que não temos a mesma quantidade de itens em cada classe!!!**
Quando usamos o pd.cut()

## pd.qcut()

In [ ]:
# Vai dividir os elementos contidos na coluna1 em quatro partes iguais (em quantidade). Quantil. qcut
Bucket_qcut = pd.qcut(df['coluna1'], 4, labels=False)
Bucket_qcut

In [ ]:
# Vou colocar uma coluna no df com os dados de qual quantil ele incluiu cada um dos elementos da coluna1.
df['Bucket_qcut'] = pd.qcut(df['coluna1'],4, labels = False)
df

In [ ]:
# Quem são os Bucket's que construimos:
# Veja que agora, ele tentou dividir a quantidade de elementos em porções quase iguais (mais uniforme) 
# Quando usamos o pd.cut() ele cria classes e inclui pelo valor absoluto, o que pode gerar classes com muitos elementos e outras com poucos.
Bucket_qcut.value_counts()

## Comentários
* pd.qcut() garante uma distribuição mais uniforme dos valores em cada classe. Isso significa que é menos provável que você tenha uma classe com muitos dados e outra com poucos dados.
* Eu prefiro usar pd.qcut().

___
# **Distribuição conjunta - crosstabs**
> Suponha que queremos analisar o número de sobreviventes em relação à COLUNA embarked.

In [ ]:
# Fazendo uma cópia do dataframe df_Titanic
df_Titanic2 = df_Titanic.copy()
df_Titanic2.head()

In [ ]:
# o CROSSTAB vai agregar os valores da colunaprimeira como linhas, e os valores da colunasegunda como colunas
# Ou seja, é um cross mesmo, para fazer um cruzamento de cada tipo de elemento do Survived com cada tipo de elemento do Survive
pd.crosstab(df_Titanic2['Survived'], df_Titanic2['Embarked'])

In [ ]:
pd.crosstab(df_Titanic2['Survived'], df_Titanic2['Embarked'])

In [ ]:
# Pensei em fazer assim, com o que já estudamos antes. Mas o método CROSSTAB é mais eficiente
# e transforma os elementos categóricos da contagem em colunas no novo datafreme resultado.
df_Titanic2.groupby(['Survived','Embarked']).agg({'Embarked':['count']})

___
# **Deletar COLUNAS do dataframe**
> Deletar as COLUNAS 'coluna2' e 'coluna5' do dataframe.

In [ ]:
df

## Usando inplace = True

In [ ]:
# o inplace = False, ele exclui a coluna, mas numa cópia do dataframe. o Dataframe original continua com a coluna
# Se quiser que a coluna seja excluída no dataframe original, tem que colocar inplace = True.
df.drop(['coluna2'], axis =1, inplace =True)
df

## Usando atribuição

___
# **Criar COLUNAS dummies para dados categóricos**
> Nosso objetivo é construir variáveis dummies para nossas COLUNAS categóricas.

* Fontes: 
    * [Categorical data](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html)
    * [Creating Dummy Variables](https://www.ritchieng.com/pandas-creating-dummy-variables/)

In [ ]:
df

Vamos construir variáveis dummies para as COLUNAS 'coluna6' e 'coluna7', da seguinte forma:

In [ ]:
# o método do pandas é o get_dummies(passa aqui a coluna do dataframe que quer que gere os dummies)
pd.get_dummies(df['coluna6'])

In [ ]:
# mostra os dummies que serão criados, mas não altera o dataframe origianl
pd.get_dummies(df['coluna6'])

Qual a interpretação do resultado acima?

In [ ]:
# Ele mostra dos dummies que serão craidos, mas não altera o dataframe original
pd.get_dummies(df['coluna7'])

Qual a interpretação do resultado acima?

In [ ]:
# nesta sintaxe, ele vai atribuir ao dataframe df, as novas variáveis dummies desdobradas das variáveis(TAMBÉM CONHECIDO COMO COLUNAS)
# existentes antes. NO caso, a Coluna6 deixou de existir, e transformou-se em coluna6_a E colulna6_b. 
# Observe que as letras a, e b ERAM o conteúdo da coluna6. Passou a ser o suffixo do nome anterior.
df = pd.get_dummies(df, columns =['coluna6', 'coluna7', 'sexo'])
df

In [ ]:
df.columns, df.columns.size

___
# **Calcular correlação (Análise de Correlação)**
> A correlação pode ser calculada usando o método df.corr(). Para mais detalhes sobre os tipos de correlação existentes bem como a aplicação de cada uma delas, consulte os links a seguir:

* [Pearson correlation coefficient](https://en.wikipedia.org/wiki/Pearson_correlation_coefficient)
* [Kendall rank correlation coefficient](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient)
* [Spearman's rank correlation coefficient](https://en.wikipedia.org/wiki/Spearman%27s_rank_correlation_coefficient).

Para aprender mais sobre a geração de heatmap, consulte [Seaborn Heatmap Tutorial (Python Data Visualization)](https://likegeeks.com/seaborn-heatmap-tutorial/)

## Gerando o dataframe-exemplo:

In [ ]:
# NÃO ESTUDEI ESTA CÉLULA
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Gerando um dataframe com 15 colunas, sendo 9 informativas e 6 redundantes:
from sklearn.datasets import make_classification
X, y = make_classification(n_samples=1000, n_features=15, n_informative=9,
    n_redundant=6, n_repeated=0, n_classes=2, n_clusters_per_class=1,
    random_state=20111974)

df_X = pd.DataFrame(X, columns= ['v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'v10', 'v11', 'v12', 'v13', 'v14', 'v15'])
df_y = pd.DataFrame(y, columns= ['target'])

In [ ]:
# Visualizar os dados
df_X.head()

In [ ]:
df_y.head()

In [ ]:
# Este método faz a correlação entre todas as variáveis
# method : {'pearson', 'kendall', 'spearman'} or callable. (O padrão é o method = 'pearson'. e min_periods = 1) 
df_X.corr()

In [ ]:
# O df.shape vai trazer o tamanho do dataframe. No caso, um 15 x 15.
# É como uma matriz 15x15. 
df_X.corr().shape, type(df_X.corr())

In [ ]:
# No numpy, o np.ones traz um array, no caso uma matriz, passando o shape para ele.
# no caso, o shape é (15,15), ou seja, 15 linhas e 15 colunas. 
# O array matriz de 'uns' é criada.
a_a = np.ones(df_X.corr().shape)
a_a

In [ ]:
# o np.triu vai colocar ZEROS em todos os elementos da matriz abaixo da diagonal, quando k = 0.
# Se o K for igual a 1, ele vai subir os zeros até a diagnal inclusive, e vai subindo as diagnais de zeros quanto maior o k
np.triu(a_a, k=0)

In [ ]:
# o .astype(np.bool) vai pegar todos os elementos 1 e transformar em True, e os ZEROS e transformar em False na matriz
b = np.triu(a_a, k=0).astype(np.bool)
b

In [ ]:
# Veja que toda a manipulação feita é para deixar como NaN os valores que se repetem na correlação, pois coluna x linha e linha x coluna
# para as mesmas variáveis, trazem o mesmo valor. Exemplo Linha v2 X coluna V1, e Linha v1 x Coluna v2 (VEJA nos resultados acima)
df_X.corr().where(b)

In [ ]:
# a matriz_correlação, que é um dataframe, vai receber 
matriz_correlacao = df_X.corr().where(np.triu(np.ones(df_X.corr().shape), k = 1).astype(np.bool))
matriz_correlacao, type(matriz_correlacao)

# PAREI AQUI EM 11-10-2020 FIM DE NOITE
### Quem são as colunas altamente correlacionadas?

In [ ]:
matriz_correlacao = matriz_correlacao.fillna(0)
matriz_correlacao

In [ ]:
# o set criado é um set vazio. O set é  {elemento, elemento, elemento...}

set_Colunas_Correlacionadas = set()

In [ ]:
matriz_correlacao.columns, len(matriz_correlacao.columns)

In [ ]:
matriz_correlacao.columns[0]

In [ ]:
matriz_correlacao.iloc[0,1], abs(matriz_correlacao.iloc[0,1])

In [ ]:
for i in range(len(matriz_correlacao.columns)):
  print(i)

In [ ]:
for i in range(15):
  for j in range(i):
    if abs(matriz_correlacao.iloc[i, j]) > 0.8:
      colnome = matriz_correlacao.columns[i]
      set_Colunas_Correlacionadas.add(colnome)

In [ ]:
for i in range(len(matriz_correlacao.columns)):
    for j in range(i):
        if abs(matriz_correlacao.iloc[i, j]) > 0.4:
            print(i,j)
            colnome = matriz_correlacao.columns[i]
            set_Colunas_Correlacionadas.add(colnome)

A seguir, a correlação mais visual:

In [ ]:
fig, ax = plt.subplots(figsize = (12, 12)) 
mask = np.zeros_like(df_X.corr().abs())
mask[np.triu_indices_from(mask)] = 1
sns.heatmap(df_X.corr().abs(), mask= mask, ax= ax, cmap='coolwarm', annot= True, fmt= '.2f', center= 0)

# **Scatterplot**

## Com regressão

In [ ]:
df_X

In [ ]:
sns.pairplot(df_X, kind = "reg")
plt.show()

## Sem regressão

In [ ]:
sns.pairplot(df_X, kind = "scatter")
plt.show()

___
# **Salvar dataframe como csv**

In [ ]:
df_X.to_csv('example.csv')

# **Dicionário de palavras**
> Muito utilizado em NLP e Machine Learning.
* Caso de Uso: Seguradoras --> Quando um segurado aciona a Seguradora para descrever um acidente (por exemplo), há um algorítmo que transforma o áudio em texto para mineração de textos.

In [ ]:
df_Titanic.head()

In [ ]:
# Tem que importar este pacote
from sklearn.feature_extraction.text import CountVectorizer
CountVectorizer = CountVectorizer()
matriz_contagens = CountVectorizer.fit_transform(df_Titanic['name']) # Informe a coluna do tipo texto/string que queremos analisar/avaliar
print(matriz_contagens)

In [ ]:
df_dicionario_palavras = pd.DataFrame(CountVectorizer.get_feature_names(), columns = ['palavra'])
df_dicionario_palavras["vezes_que_aparece"] = matriz_contagens.sum(axis = 0).tolist()[0]
df_dicionario_palavras = df_dicionario_palavras.sort_values("vezes_que_aparece", ascending = False) #.reset_index(drop = True) # Sorte ordena as linhas do dataframe
df_dicionario_palavras.head(5)

# Desafio
> Transforme o code Python da sessão **Dicionário de palavras** em função para usarmos futuramente.

In [ ]:
# FUNÇÃO DICIONÁRIO DE PALAVRAS
# Transformando o código Python da Sessão Dicionário de Palavras em uma função para usar futuramente
# Não compreendi totalmente o código com seus métodos.

def dicionario_palavras(col_do_dataframe): # col_do_dataframe é o parâmetro de indicação da coluna que se quer analisar: exemplo: df_Titanic['nomes']
    from sklearn.feature_extraction.text import CountVectorizer
    CountVectorizer = CountVectorizer()
    matriz_contagens = CountVectorizer.fit_transform(col_do_dataframe) # Informe a coluna do tipo texto/string que queremos analisar/avaliar
    df_dicionario_palavras = pd.DataFrame(CountVectorizer.get_feature_names(), columns = ['palavra'])
    df_dicionario_palavras["vezes_que_aparece"] = matriz_contagens.sum(axis = 0).tolist()[0]
    df_dicionario_palavras = df_dicionario_palavras.sort_values("vezes_que_aparece", ascending = False) #.reset_index(drop = True) # Sorte ordena as linhas do dataframe
    return df_dicionario_palavras

In [ ]:
dicionario_palavras(df_Titanic['name'])

___
# **Exercícios**

## Exercício 1
* A partir dos dataframes USA_Abbrev, USA_Area e USA_Population, construa o Dataframe USA contendo as COLUNAS state, abbreviation, area, ages, year, population.

* Observação: A forma mais fácil de ler um arquivo CSV (a partir do Excell por exemplo) a partir do GitHub é clicar no arquivo csv no seu repositório do GitHub e em seguida clicar em 'raw'. Depois, copie o endereço apresentado no browser e cole na variável 'url'. Qualquer dúvida, leia o documento a seguir: https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92.

In [ ]:
# Tentando executar o exercício 1
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
% matplotlib inline

# Obtendo do GITHUB DWSP os endereços url dos arquivos CSV
# USA_Abbrev tem as colunas: state e abbreviation
url_usa_abbrev = 'https://raw.githubusercontent.com/danilodcabotelho/DSWP/master/Dataframes/USA_Abbrev.csv'
# USA_Area tem as colunas: state e	area
url_usa_area = 'https://raw.githubusercontent.com/danilodcabotelho/DSWP/master/Dataframes/USA_Area.csv'
# USA_Population tem as colunas: state_region e 	ages e	year e	population
url_usa_population = 'https://raw.githubusercontent.com/danilodcabotelho/DSWP/master/Dataframes/USA_Population.csv'

In [ ]:
# Criando os DataFrames para os 3(três) arquivos CSV
df_usa_abbrev = pd.read_csv(url_usa_abbrev)
df_usa_area = pd.read_csv(url_usa_area)
df_usa_population = pd.read_csv(url_usa_population)

In [ ]:
# Vamos transformar os dados dos dataframes em letras minúsculas
# para tanto, vou executar a função já criada neste jupyter notebook
transformacao_lower(df_usa_abbrev)
transformacao_lower(df_usa_area)
transformacao_lower(df_usa_population)

In [ ]:
# Visualizar o df_usa_abbrev -> aparentemente são as abreviações dos 50 Estados dos EUA.
df_usa_abbrev.tail(5)

In [ ]:
# chamando a função dicionario_palavras
# O resultado aponta para uma abreviatura para cada estado. São então 50 linhas, sendo uma para cada Estado dos EUA.
dicionario_palavras(df_usa_abbrev['abbreviation']).head(5)

In [ ]:
# Este está com os 50 estados americanos, mais 2 unidades (Porto Rico e o Distrito de Columbia)
df_usa_area.tail()

In [ ]:
dicionario_palavras(df_usa_area['state']).head(5)

In [ ]:
df_usa_population.head(5)

In [ ]:
# chamando a função criada dicionario_palavras()
# Verifica-se que são 52 tipos de palavras. O que 
dicionario_palavras(df_usa_population['state_region']).head(10)

In [ ]:
# Agora que já temos os 3 dataframes, vamos fazer um MERGE.
df_total_1_2 = pd.merge(df_usa_area, df_usa_abbrev, on = 'state', how = 'outer')
df_total_1_2.head(10)

In [ ]:
df_total_1_2.head(5)

In [ ]:
df_usa_population

In [ ]:
# Agora o merge do dataframe df_total_1_2 com o dataframe df_usa_population
df_total_1_2_3 = pd.merge(df_total_1_2, df_usa_population, left_on= 'abbreviation', right_on= 'state_region', how = 'outer', indicator=True)
df_total_1_2_3

## Exercício 2
Source: https://github.com/aakankshaws/Pandas-exercises

* Considere os dataframes a seguir e faça o merge do dataframe df_esquerdo com o dataframe df_direito:

In [ ]:
df_esquerdo = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
df_direito = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
df_esquerdo

In [ ]:
df_direito

In [ ]:
df_uniao = pd.merge(df_esquerdo,df_direito, on = 'key', how = 'outer', indicator=True)
df_uniao

## Exercício 3
Source: https://github.com/aakankshaws/Pandas-exercises

* Considere os dataframes a seguir:

In [ ]:
df_esquerdo = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
df_direito = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
df_esquerdo

In [ ]:
df_direito

### Perguntas
* Qual o output e a interpretação dos comandos a seguir:

In [ ]:
# Aqui ele fez o merge com intersecção (inner que é o padrão oculto)
pd.merge(df_esquerdo, df_direito, on = ['key1', 'key2'], indicator=True)

In [ ]:
# Criou a união dos conjuntos, lado a lado.
pd.merge(df_esquerdo, df_direito, how = 'outer', on = ['key1', 'key2'])

In [ ]:
# Toma por base as key do dataframe da direita, e só. Se o dataframe da esquerda também tiver aquelas chaves, então ele trará
# os dados do dataframe da esquerda naqueles keys. Ou seja, traz o que está no da direta, e complementa com o que tiver no da esquerda
# desde que respeitados os keys dos da direita apenas.
pd.merge(df_esquerdo, df_direito, how = 'right', on = ['key1', 'key2'])

In [ ]:
# Aqui exatamente o contrário do acima. Ou seja, vai pegar os keys do df da esquerda como base.
# então traz os dados do df da esquerda, e se o df da direita também tiver dados com aquelas keys ele traz. Se não, ele traz NaN
pd.merge(df_esquerdo, df_direito, how = 'left', on = ['key1', 'key2'])

## Exercício 5
5.1. Identifique e delete os atributos do dataframe df_Titanic que podem ser excluídos inicialmente no início da análise de dados.

In [ ]:
df_Titanic

In [ ]:
# Aqui eu poderia usar o drop, para excluir uma coluna (atributo). Mas não sei se não será necessário lá na frente.....

___
## Exercício 6
* (a) Carregue o dataframe Titanic_With_MV.csv e analise o dataframe em busca de inconsistências e Missing Values (NaN).

### Feature Engineering
* (b) Com a coluna 'cabin', construir as colunas:
    * deck - Letra de Cabin;
    * seat - Número de Cabin
* (c) Criar a coluna 'sozinho_parch', onde sozinho_parch= 1 significa que o passageiro viaja sozinho e 0, caso contrário.
* (d) Criar o atributo 'sozinho_sibsp', onde sozinho= 1 significa que o passageiro viaja sozinho e 0, caso contrário.
* (e) Discretizar a coluna 'fare' em 10 buckets.
* (f) Discretizar a coluna 'age'.
* (g) Capturar os títulos 'Ms', 'Mr' e etc contidos na coluna 'Title';
* (h) Qual a relação entre as variáveis e a variável-target?

In [ ]:
import pandas as pd
df_Titanic = pd.read_csv('https://raw.githubusercontent.com/MathMachado/Python4DS/DS_Python/Dataframes/Titanic_With_MV.csv?token =AGDJQ63MNPPPROFNSO2BZW25XSR72', index_col= 'PassengerId')
df_Titanic.head()

* Segue o dicionário de dados do dataframe Titanic:
    * PassengerID: ID do passageiro;
    * survived: Indicador, sendo 1= Passageiro sobreviveu e 0= Passageiro morreu;
    * Pclass: Classe;
    * Age: Idade do Passageiro;
    * SibSp: Número de parentes a bordo (esposa, irmãos, pais e etc);
    * Parch: Número de pais/crianças a bordo;
    * Fare: Valor pago pelo Passageiro;
    * Cabin: Cabine do Passageiro;
    * Embarked: A porta pelo qual o Passageiro embarcou.
    * Name: Nome do Passageiro;
    * sex: sexo do Passageiro

## Resposta do item (a)
### Coluna XPTO


### Coluna XPTO2

## Resposta do item (b)

## Exercício 7
Consulte a página [Pandas Exercises, Practice, Solution](https://www.w3resource.com/python-exercises/pandas/index.php) para mais exercícios relacionados á este tópico.

## Exercício 8
Crie a coluna 'aleatorio' no dataframe df_Titanic em que cada linha recebe um valor aleatório usando o método np.random.random().

In [ ]:
df_Titanic.head()

## Exercício 9
O arquivo FIFA.csv contem dados relacionados à última edição do FIFA 2018 (um dos jogos de video-game mais famosos) e traz os mais variados dados sobre os jogadores (exemplo): idade, nacionalidade, potencial, salário e etc. Faça o seguinte:

1. Carregue o arquivo FIFA.csv (está na área de Dataframes do curso);
2. Que colunas podem previamente ser eliminadas da análise? Porque identificar o que pode ser eliminado é importante?
3. Qual o dtype de cada variável/atributo do dataframe?
4. Se alguma variávável/atributo é do tipo string (object) e supostamente deveria ser numérica, como alteramos o tipo?
5. Normalize os nomes das colunas, ou seja, renomeie o nome das colunas para minúsculo;
6Há Missing values nos dados? Se sim, o qual sua proposta (proposta do grupo) para tratar estes Missing values?
7. Qual a distribuição do número de jogadores por países? Apresente uma tabela com a distribuição.
8. Qual a média de idade dos jogadores por países (variável/atributo 'Nacionality');
9. Qual a número de jogadores por idade?
10. Quantos jogadores possuem cada clube?
11. Qual a média de idade por clube?
12. Qual a média de salário por país?
13. Qual a média de salário por clube?
14. Qual a média de salário por idade?
15. Quanto cada clube gasta com pagamento de salários?
16. Quais são os insight (o que você consegue descobrir) em relação à variável 'Potential' (mede o potencial dos jogadores)?
17. Quais os insights em relação à variável overall (nota média do atleta) por idade, clube e país?
18. Quais são os melhores clubes se levarmos em consideração as variáveis Potential e Overall?
19. Apresente o ranking dos goleiros (use a variável/atributo 'Preferred Positions') por Potencial, Overall. Estamos à procura de 'GK'.
20. Quem são os jogadores mais rápidos (variável/atributo 'Sprint speed'=?
21. Quem são os 5 melhores jogadores em termos de chute (força para chutar) (use a variável/atributo 'Shot power')?
22. Quem são os outliers em termos de salário?
23. Quem são os outliers em termos de potência no chute?

# Significado dos termos do dataset FIFA
Confira a Lista com o significado das siglas:\
GK = Goalkeeper – Goleiro.\
RB = Right Back – Zagueiro Direito.\
CB = Central Back – Zagueiro Central.\
LB = Left Back – Zagueiro Esquerdo.\
SW = Sweeper – Líbero.\
RWB = Right Wing Back – Lateral Direito.\
LWB = Left Wing back – Lateral Esquerdo.\
CDM = Central Defensive Midfielder – Meio Campo Defensivo / Volante.\
CM = Central Midfielder – Meia Central.\
CAM = Center Attacking Middlefielder – Meio Campo Ofensivo / Armador.\
OM = Offensive Midfielder – Meia Ofensivo.\
LOM = Left Offensive Midfielder – Meia Esquerda Ofensivo.\
ROM = Right Offensive Midfielder – Meia Direita Ofensivo.\
LM = Left Midfielder – Meia Esquerda.\
RM = Right Midfielder – Meia Direita.\
LWM = Left Wing Midfielder – Meio Ala Esquerdo.\
RWM = Right Wing Midfielder – Meio Ala Direito.\
RW = Right Winger – Ala Direito.\
LW = Left Winger – Ala Esquerto.\
LF = Left Forward – Atacante Esquerdo.\
RF = Right Forward – Atacante Direito.\
ST = Striker – Atacante.\
CF = Center Forward – Centro Avante.\
RS = Right Striker – Atacante Direito.\
LS = Left Striker – Atacante Esquerdo.\

In [ ]:
# 1. Carregando o arquivo FIFA.CSV
import pandas as pd
import numpy as np
import seaborn as sns
url = 'https://raw.githubusercontent.com/danilodcabotelho/DSWP/master/Dataframes/FIFA.csv'
df_fifa = pd.read_csv(url)
df_fifa.head(5)

In [ ]:
df_fifa.columns, df_fifa.shape, df_fifa.info()

In [ ]:
# 2. Podem ser eliminadas, na minha opinião:
# -  os atributos/variáveis que não tiverem dados (NaN) para todos os registros
# -  os atributos/variáveis que forem categóricos, e cujos valores forem idênticos para todos os registros.
# -  os atributos/variáveis que forem exclusivos do registro, personalíssimo (Exemplo: foto do jogador)
# -  os atributos/variáveis que não imprimem qualquer informação aferível/mensurável, como a foto do clube, o banner do patrocinador(foto)
# IMPORTANTE elminar variáveis/colunas que apenas inflacionam eventuais correlações com outras variáveis, mas que não tenham de fato
# elemento de correlação, prejudicando a análise estatísticas. Também, ocupam memória e levam a maiores tempos de execução 
# dos cruzamentos e análises estatísticas

In [ ]:
# 3. DTYPE das variáveis/atributos do dataframe
dict_dtype = (df_fifa.dtypes).to_dict()
dict_dtype

In [ ]:
# Outra forma de fazer
s_fifa_dtype = list(zip(df_fifa.columns, df_fifa.dtypes))
s_fifa_dtype

In [ ]:
# 4.Se alguma variávável/atributo é do tipo string (object) e supostamente deveria ser numérica, como alteramos o tipo?
# Entendo que podemos usar o comando astype(float)
# Então, fariamos o seguinte:

# df_fifa['position'] = df_fifa['position'].astype(float)

# Desta forma os valores são convertidos do tipo objeto para o tipo float.

In [ ]:
# 5. Normalizar o dataframe para todas minúsculas. Vou usar a função já criada neste jupyter notebook
transformacao_lower(df_fifa)
df_fifa

In [ ]:
df_fifa['wage'].isnull().values.sum()
df_fifa['wage'].str.contains('\.').sum()
df_fifa[df_fifa['wage'].str.contains('mm)]

In [ ]:
df_fifa['VALUE'] = df_fifa['VALUE'].apply(lambda x : float(x.replace("€", "").replace("M", "")) * 1_000_000 if (x[-1]=='M') else float(x.replace("€", "").replace("K", "")) * 1_000)

In [ ]:
def monetary_to_float(monetary_value):
# if monetary value is 0, it does not have the trailing multiplier
if len(monetary_value) == 2:
return float(monetary_value[1])

multiplier = 10**6 if monetary_value[-1] == 'M' else 10**3
float_monetary_value = float(monetary_value[1:-1]) * multiplier

return float_monetary_value

In [ ]:
def monetary_to_float(monetary_value):
if monetary_value[-1].isnumeric():
return float(monetary_value[1:])

else:
multiplier = 10**6 if monetary_value[-1] == 'M' else 10**3
float_monetary_value = float(monetary_value[1:-1]) * multiplier
 return float_monetary_value

In [ ]:
def elimina_notacao(moeda):

    moeda = moeda.replace('€','').replace('M','000000').replace('K','000')

    return moeda



df_Fifa['value'] = df_Fifa['value'].apply(elimina_notacao)

df_Fifa['wage'] = df_Fifa['wage'].apply(elimina_notacao)

In [ ]:
teste = df_fifa['value'].str.split(pat='.', expand=True)

 teste[0].replace({​​​​'M': '000000', 'K': '000'}​​​​, regex=True, inplace=True)

 teste[1].replace({​​​​'M': '00000', 'K': '00'}​​​​, regex=True, inplace=True)

 teste[1].fillna('', inplace=True)

 teste['ajust'] = teste[0] + teste[1]

 df_fifa['value'] = teste['ajust']

 df_fifa['value'] = df_fifa['value'].astype('float')

In [ ]:
[15:55] Carlos Henrique Lara Campolina
import rematch = [re.search(r'([\D]+)([\d.]+)([\D]+)', i) for i in df_FIFA_2['Value']]df_FIFA_2['Value_MOEDA'], df_FIFA_2['Value_Numeral'], df_FIFA_2['Value_Escala'] = match[0].group(1), match[0].group(2),match[0].group(3)

In [ ]:
import re

match = [re.search(r'([\D]+)([\d.]+)([\D]+)', i) for i in df_FIFA_2['Value']]

print("moeda: ", match[0].group(1), "valor: ", match[0].group(2), "tamanho: ", match[0].group(3))

In [ ]:
df_fifa['Value'] = df_fifa['Value'].fillna('€0')

In [ ]:
df_Fifa.set_index('ID', inplace=True)

In [ ]:
df_fifa.groupby(['club']).agg({​​'potential':['sum']}​​).sort_values(by=[('potential','sum')], ascending=False)

In [ ]:
# media de idade por clube
fifa_valores.groupby(['club']).agg({'age':['mean', 'min', 'max']}).round(1)

In [ ]:
# SE alguma variável coluna atributo é do tipo string e deveri aser numerica, como alterar isso

In [ ]:
df_fifa['Height'] = df_fifa['Height'].map(lambda h: (int(h.split("'")[0]) + int(h.split("'")[1]) * 0.0833333) * 0.3048
df_fifa['Weight'] = df_fifa['Weight'].map(lambda h: (int(h[:-3])) * 0.453592)

In [ ]:
import re

def expand_number(input_compact: str):



    # dicionário de conversão (definir sufixos sempre em maiúsculo)

    repl_dict = {​​'K': 1e3, 'M': 1e6, 'B': 1e9, }​​



    # se for vazio ou não tiver abreviação numérica

    if not input_compact:

        return input_compact



    # obter os grupos do string (prefixo, número, abreviação)  [KMB]

    prog = re.compile(rf"^([RUS$€£]+)?\s*?([\d\.]+)\s*?([{​​''.join(repl_dict.keys())}​​])?$", re.IGNORECASE) 

    grp = prog.match(input_compact.upper())



    # obter o multiplicador baseado no dicionário de substituição

    mult = repl_dict.get(grp.group(3), 1)

    return float(grp.group(2)) * float(mult)




print('\nUsando map:')

%timeit df['value'].map(expand_number)



print('\nUsando List Comprehension:')

%timeit [expand_number(x) for x in df['value'].values]

In [ ]:
# ranking jogadores com mais potencia no chute
df_21 = df_fifa[['Name', 'ShotPower']]
df_21.sort.values(by='ShotPower', ascending=False).head(10)

In [ ]:
# Quanto cada clube gasta com pagamento de salários?

df.groupby('club').agg(total_wage=('wage_val', sum), qtde_player=('name', 'count')).sort_values('total_wage', ascending=False).head(10)